<div data-hook="admin_inside_taxonomy_form" class="">
  <%= f.field_container :name do %>
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
    <%= error_message_on :taxonomy, :name, :class => 'form-control title' %>
    <%= text_field :taxonomy, :name %><br /><br /><br />
    <div class="category-wrapper">
    <% if @taxonomy.cat_image.exists? %>
	  <%= image_tag @taxonomy.cat_image.url %><br/>
	<% end %>
    <%= f.label :image %>
    <%= f.file_field :cat_image %>
    <br><b> <p>Please upload image of 128x128 for best quality</p> </b>
  <% end %>
</div>
