<%= render :partial => 'js_head' %>

<% content_for :page_title do %>
  <%= Spree.t(:taxonomy_edit) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to spree.admin_taxonomies_path, class: "btn blue" do %><i class="fa fa-arrow-left"></i>
      <%= Spree.t(:back_to_taxonomies_list)%>
    <% end %>
  </li>
<% end %>
 <div class="portlet box blue">
   <div class="portlet-title">
    <div class="caption">
       Edit Category
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
<div id="ajax_error" class="errorExplanation" style="display:none;"></div>

<%= form_for [:admin, @taxonomy] do |f| %>
  <div class="form-body">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div>
      <%= label_tag nil, Spree.t(:tree) %><br />
      <script>
        Spree.routes.taxonomy_taxons_path = "<%= spree.api_taxonomy_taxons_path(@taxonomy) %>";
        Spree.routes.admin_taxonomy_taxons_path = "<%= spree.admin_taxonomy_taxons_path(@taxonomy) %>";
        Spree.routes.jstree_theme_path = "<%= stylesheet_path("jquery.jstree/themes/apple/style.css") %>";
      </script>
      <div id="taxonomy_tree" class="tree"></div>
    <div id="progress" style="display:none;">
      <%= image_tag 'select2-spinner.gif', :title => 'Spinner', :style => "vertical-align:bottom;" %> <%= Spree.t(:updating) %>..
    </div>

    <div class="info"><%= Spree.t(:taxonomy_tree_instruction) %></div>

    <br>
  </div>

    <div class="filter-actions actions form-actions">
      <%= button Spree.t('actions.update'), 'refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_taxonomies_path, :icon => 'remove' %>
    </div>
<% end %>
</div>
</div>
