
<% content_for :page_title do %>
  <%= Spree.t(:taxonomies) %>
<% end %>
<% content_for :page_actions do %>
  <li>
    <%= link_to "New Category", spree.new_admin_taxonomy_url, :icon => 'plus', :id => 'admin_new_taxonomy_link', class: "btn blue"%>
  </li>
<% end %>

<div class="">
  <div class="portlet box blue">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-gift"></i>Upload Categories & Sub Categories Via CSV
      </div>
      <div class="tools">
        <a href="javascript:;" class="expand" data-original-title="" title="">
        </a>
      </div>
    </div>
    <div class="portlet-body form">
      <!-- BEGIN FORM-->
      <%= form_tag cat_import_admin_imports_path  , class: "form-horizontal", multipart: true do %>
      <div class="form-body">
        <div class="form-group">
          <label class="col-md-3 control-label">Select a File</label>
          <div class="col-md-4">
            <%= file_field_tag :file,  :accept=>"*.csv", class: "form-control", required: true%>
          </div>
            <div class="col-md-4">
           <%= link_to "Download Csv Format", "/csv/category.csv", class: "btn btn-circle blue"%>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-circle blue">Submit</button>
          </div>
        </div>
      </div>
      <% end %>
      <!-- END FORM-->
    </div>
  </div>
</div>

<% if @taxonomies.any? %>
<div id="list-taxonomies" data-hook>
  <%= render 'list' %>
</div>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/taxonomy')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_taxonomy_path %>!
  </div>
<% end %>