<%= form_for @spree_blog, url: {action: "create"} , :html => { :multipart => true } do |f| %>
<div class="container">
    <div class="row">
      <div class="with-sidebar " >
        <div class="twelve columns"> <br>
          <form   method="post">
            <div>
            <fieldset class="general no-border-top">
             <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Blog Title *</label>
                <br>
                <%= f.text_field :title, class: "fullwidth" %>
              </div>
              
              <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Summary</label>
                <br>
                <%= f.text_area :summary, class: "fullwidth" %>
              </div>
                
                 <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Body Text</label>
                <br>
                <%= f.cktext_area :body, class: "fullwidth" %>
              </div>
              <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Visiblity</label>
                <br>
                <%= f.select :visible, options_for_select(%w[true false]),class: "fullwidth" %>
              </div>
                
              <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Author</label>
                <br>
                <%= f.text_field :author, class: "fullwidth" %>
              </div>
                 <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Meta Tag</label>
                <br>
                <%= f.text_field :meta_tag, class: "fullwidth" %>
              </div>
              <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Meta Description</label>
                <br>
                <%= f.text_field :meta_description, class: "fullwidth" %>
              </div>
              <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name"> Upload Image</label>
                <br>
                <%= f.file_field :avatar ,  class: "fullwidth"  %>
              </div>
                
                
               <%=f.hidden_field :published_at , value: DateTime.now%>
              <div class="form-buttons filter-actions actions" data-hook="buttons">
                  <%#= link_to 'Back', admin_blogs_path %>
               <a class="button " href="javascript:void(0)" onclick="window.history.back();"><span class="text" >Back</span></a>
              <span class="or">or</span>
              <a style="border: 0px solid #000 !important;"><span class="text"><%= f.submit "Save" %></span></a>
              </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<%end%>