<div class="portlet box blue">
 <div class="portlet-title">
  <div class="caption">
    <i class="fa fa-gift"></i> Update Blog
  </div>
  <div class="tools">
    <a href="" class="collapse" data-original-title="" title="">
    </a>
  </div>
</div>
<div class="portlet-body form">
 <%= form_for @spree_blog , url: {action: "update"} , :html => { :multipart => true } do |f| %>
 <div class="form-body">
   <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Blog Title *</label>
    <br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Summary</label>
    <br>
    <%= f.text_area :summary, class: "form-control" %>
  </div>

  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Body Text</label>
    <br>
    <%= f.cktext_area :body, class: "form-control" %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Visiblity</label>
    <br>
    <%= f.select :visible,options_for_select(%w[true false]) ,class: "fullwidth" %>
  </div>

  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Author</label>
    <br>
    <%= f.text_field :author, class: "form-control" %>
  </div>

  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Meta Tag</label>
    <br>
    <%= f.text_field :meta_tag, class: "form-control" %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Meta Description</label>
    <br>
    <%= f.text_field :meta_description, class: "form-control" %>
  </div>

  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name"> Upload Image</label>
    <br>
    <%= f.file_field :avatar ,  class: "form-control" ,  :required => true %>
  </div>
</div>
  <div class="form-actions filter-actions" data-hook="buttons">
    <%#= link_to 'Back', admin_blogs_path %>
    <a class="button " href="javascript:void(0)" onclick="window.history.back();"><span class="text" >Back</span></a>
    <span class="or">or</span>
    <button type="submit" class="btn blue">Update</button>
  </div>
 <% end %>
 </div>
 </div>