<%= form_for :order, :url => populate_orders_path, remote: true, :html => { :id => "myformcart" }  do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants">
        <h6 class="product-section-title"><%= Spree.t(:variants) %></h6>
        <ul>
          <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
            <li style=" list-style-type: none;">
              <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).money  %>
              <%= label_tag "variant_id_#{ variant.id }" do %> 
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>

                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              <% end %>
            </li>
          <% end%>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% if @product.price_in(current_currency) and !@product.price.nil?  and !@product.subscription%>
      <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">

        <div id="product-price">
          <h6 class="product-section-title"><%= Spree.t(:price) %>:</h6>
          <div>
             <div class="productRowInfo">
              <% if @user_group == "Retailer" && @product.retailer_price.present? %>
               <span class="price styleSecondColor fsize20"><%= @product.retailer_display_price.to_html %></span>
            <% elsif @user_group == "WholeSaler" && @product.dealer_price.present? %>
               <span class="price styleSecondColor fsize20"><%= @product.dealer_display_price.to_html %></span>
              <% else%>
               <span class="price styleSecondColor fsize20"><%= display_price(@product) %></span>
            <% end %>
              <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
            </div>
            <% if @product.master.can_supply? %>
              <link itemprop="availability" href="http://schema.org/InStock" />
            <% elsif @product.variants.empty? %>
              <br />
              <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
            <% end %>
          </div>

        <div class="add-to-cart">
         <div class="addCartBtn">
                              <span class="input-group-btn">
                                <%= number_field_tag :quantity, 1, :class => 'title', :min => 1 %>
                                <button class="btn btn-primary"><i class="fa fa-shopping-cart"></i> <%= f.submit "ADD TO CART",:style=>"background: transparent !important;
border: 0px none !important;
box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.4);" %></button> 
                              </span>
                            </div><!-- /input-group -->
         </div>
        </div>
      </div>
       <%elsif @product.subscription %>
    <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">

        <div id="product-price">
         <div>
              
            <div class="productRowInfo">
              
              <%if @product.subscription%>
              <h6 class="product-section-title">Daily subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "daily", true %><%= number_to_currency(@product.subscription_daily, :unit => '$') %></span>
                <h6 class="product-section-title">Weekly subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "weekly", false %><%= number_to_currency(@product.subscription_weekly, :unit => '$') %></span>
                <h6 class="product-section-title">Monthly subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "monthly", false %><%= number_to_currency(@product.subscription_monthly, :unit => '$') %></span>
                  <h6 class="product-section-title">yearly subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "yearly", false %><%= number_to_currency(@product.subscription_yearly, :unit => '$') %></span>   
                 <h6 class="product-section-title">subscription Date:</h6>
              <span class="price styleSecondColor fsize20"><%= text_field_tag :date, nil ,class: 'datepicker'%></span>   

              <%end%>
              

              <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
            </div>

            <% if @product.master.can_supply? %>
              <link itemprop="availability" href="http://schema.org/InStock" />
            <% elsif @product.variants.empty? %>
              <br />
              <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
            <% end %>
          </div>
          
          
          
          
          

          <div class="add-to-cart">

            <div class="addCartBtn">
              <span class="input-group-btn">
                <%= number_field_tag :quantity, 1, :class => 'title', :min => 1 %>
                <button class="btn btn-primary"><i class="fa fa-shopping-cart"></i> <%= f.submit "ADD TO CART",:style=>"background: transparent !important;
    border: 0px none !important;
    box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.4);" %></button> 
              </span>
            </div><!-- /input-group -->
          </div>
        </div>
      </div>
    <% else %>
      <div id="product-price">
        <br>
        <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
      </div>
    <% end %>
  </div>
<% end %>
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/layout.js"></script>
