<footer> 
  
  <!-- footer content -->
  <div class="footer-content"  style="background : <%= footer_color() %> !important;">
    <div class="container">
      <div class="row"> 
        
        <!-- FOOTER CONTACT INFO -->
        <div class="column col-md-3 " style="margin-left:0px margin-right:0px" >
          <div class="border-footer-">
            <h3>About Us</h3>
            <div class="footer-text"> 
          <% if @about_widget && @about_widget.widget_characteristics %>
            <%= @about_widget.widget_characteristics.first(600).html_safe %>
           <% end %>
          </div>
        </div>
        </div>
        <div class="column col-md-3 " style="margin-left:0px margin-right:0px" >
          <div class="border-footer-">
            <h3>Contact</h3>
            <div  class="footer-text">
             <%=org_address[0].gsub(',', ',').html_safe rescue ""%>
             <%=org_address[1].gsub(',', '<br>').html_safe  rescue"" %>
             <%=org_address[2].gsub(',', '<br>').html_safe rescue ""%>
            </div>
          </div>
        </div>
          <div class="column col-md-3 " style="margin-left:0px margin-right:0px" >
          <div class="border-footer-">
            <h3>We are Open</h3>
            <% if @org.opening_day.present? %>
            <p class="footer-text" ><%= @org.opening_day %> - <%= @org.closing_day %> </p>
            <% else %>
            <p class="footer-text" > Monday - Sunday</p>
            <% end %>
            <% if @org.opening_hour.present? %>
            <p class="footer-text"><%= @org.opening_hour %> - <%= @org.closing_hour%> </p>
             <% else %>
            <p class="footer-text"> 11:00 am - 12:00 pm</p>
            <% end %>
          </div>
        </div>
          <div class="column col-md-3 " style="margin-left:0px margin-right:0px" >
          <div class="border-footer-">
            <h3>Important Links</h3>
              <% if @link_widget && @link_widget.widget_characteristics %>
            <%= @link_widget.widget_characteristics.html_safe %>
            <% end %>
          </div>
        </div>
        <div class="column col-md-12 ">
        <div class="hr-footer"></div>
          <div class="text-center">
           <%if @org.facebook_url.present?  or @org.twitter_url.present?  or  @org.google_url.present?  %>
          <ul class="footer-social-nav">
            <%if @org.twitter_url.present? %>
            <a class="footer-social-beauty" target="_blank" href=<%= @org.twitter_url || '#'%>><i class="fa fa-twitter"></i></a>
            <%end%>
             <%if @org.facebook_url.present? %>
            <a class="footer-social-beauty" target="_blank" href=<%= @org.facebook_url || '#'%>><i class="fa fa-facebook"></i></a>
            <%end%>
             <%if @org.google_url.present? %>
            <a class="footer-social-beauty" target="_blank" href=<%= @org.google_url || '#'%>><i class="fa fa-google-plus"></i></a>
            <%end%>
             <%if @org.youtube.present? %>
             <a class="footer-social-beauty" target="_blank" href=<%= @org.youtube || '#'%>><i class="fa fa-youtube"></i></a>
             <%end%>
             <%if @org.linked_in.present? %>
            <a class="footer-social-beauty" target="_blank" href=<%= @org.linked_in || '#'%>><i class="fa fa-linkedin"></i></a>
            <%end%>
             <%if @org.pinterest.present? %>
            <a class="footer-social-beauty" target="_blank" href=<%= @org.pinterest || '#'%>><i class="fa fa-pinterest-square"></i></a>
            <%end%>
          </ul>
            <%end%>
          </div>
        
          <div style="margin-top:3%;" class="">
            <p class="footer-text text-center"> <a href="/">Home</a> | <a href="/products">Services</a> | <a href="/blog">Blog</a> | <a href="/contact-us">Contact Us</a>
              
            </p>
          </div>
        </div>
        
        <!-- /FOOTER LATEST POSTS --> 
        
      </div>
    </div>
  </div>
  <!-- footer content --> 
  
<!-- JAVASCRIPT FILES --> 

<%= javascript_include_tag "/assets/#{@selected_template.template_no}/beauty" %>


<script>
  echo.init({
    offset: 100,
    throttle: 250,
    unload: false
  });
</script>


</footer>