<footer> 
  
  <!-- footer content -->
  <div class="footer-content">
    <div class="container">
      <div class="row"> 
        
        <!-- FOOTER CONTACT INFO -->
        <div class="column col-md-3 ">
          <div class="border-footer-">
            <h3>About Us</h3>
            <p class="footer-text"> Sed sed eroe nulla.In
              Fermentum turpis quis sem 
              mollis tempor. Nulla mollis,
              lorem vel commodo dignissim,
              sapien purus consectetur
              sapien, sit amet pellentesque
              enim lectus </p>
          </div>
        </div>
        <div class="column col-md-3 ">
          <div class="border-footer-">
            <h3>Contact</h3>
            <p class="footer-text"> 46/1 westmilbagh, Dhaka, Bangladesh</p>
            <p class="footer-text"> +880-1718-542596h</p>
            <p class="footer-text"> info@yourdomain.com</p>
            <p class="footer-text"> www.yoursite.com</p>
          </div>
        </div>
        <div class="column col-md-3 ">
          <div class="border-footer-">
            <h3>We are Open</h3>
            <p class="footer-text"> Thuesday and Thursday<br>
              9:00am - 7:00pm</p>
            <p class="footer-text"> wednesday and Friday<br>
              9:00am - 7:00pm</p>
            <p class="footer-text"> Saturday<br>
              9:00am - 7:00pm</p>
          </div>
        </div>
        <div class="column col-md-3 ">
          <div class="border-footer-">
            <h3>Footer Menu</h3>
            <p class="footer-text">
            </p><ul>
              <li class="list-style"><a href="#">Our Services</a></li>
              <li class="list-style"><a href="#">Staff</a></li>
              <li class="list-style"><a href="#"> profile</a></li>
              <li class="list-style"><a href="#"> Photo Gallery</a></li>
              <li class="list-style"><a href="#">Our Blog</a></li>
              <li class="list-style"><a href="#">Contact Us</a></li>
            </ul>
            <p></p>
          </div>
        </div>
        <div class="column col-md-12 ">
          <div class="hr-footer"></div>
          <div style="margin-top:3%;" class="">
            <p class="footer-text text-center"> <a href="#">Our Services</a> | <a href="#">Staff</a> | <a href="#"> profile</a> | <a href="#"> Photo Gallery</a> | <a href="#">Our Blog</a> | <a href="#">Contact Us</a>
              
            </p>
          </div>
        </div>
        
        <!-- /FOOTER LATEST POSTS --> 
        
      </div>
    </div>
  </div>
  <!-- footer content --> 
  
<!-- JAVASCRIPT FILES --> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery-2.1.3.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.cookie.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.appear.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.isotope.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/masonry.js"></script> 
<script type="text/javascript" src="/assets/bootstrap.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.magnific-popup.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/owl.carousel.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.stellar.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.knob.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.backstretch.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.superslides.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/styleswitcher.js"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT --> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/mediaelement-and-player.min.js"></script> 

<!-- REVOLUTION SLIDER --> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/slider_revolution.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/scripts.js"></script>

<script type="text/javascript" src="/assets/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/echo.min.js"></script>
<script type="text/javascript" src="/assets/jquery.rateit.min.js"></script>
<script type="text/javascript" src="/assets/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/assets/jquery.fitvids.js"></script>
<script type="text/javascript" src="/assets/lightbox.min.js"></script>
<script type="text/javascript" src="/assets/wow.min.js"></script>
<script type="text/javascript" src="/assets/scripts.js"></script>

<script>
  echo.init({
    offset: 100,
    throttle: 250,
    unload: false
  });
</script>

<!-- For demo purposes – can be removed on production -->


<script>


  $(window).bind("load", function() {
    $('.show-theme-options').delay(2000).trigger('click');
  });


  $(".error-messages").show().delay(10000).fadeOut();
  $(".alert").show().delay(10000).fadeOut();
  $(".flash success").show().delay(10000).fadeOut();
  $(".flash").show().delay(10000).fadeOut();
  $(".errorExplanation").show().delay(10000).fadeOut();
  $(".error").show().delay(10000).fadeOut();


</script>
<!-- For demo purposes – can be removed on production : End -->

</footer>