<footer> 
  
  <!-- footer content -->
  <div class="footer-content">
    <div class="container">
      <div class="row"> 
        
        <!-- FOOTER CONTACT INFO -->
        <div class="column col-md-3 " style="margin-left:0px margin-right:0px" >
          <div class="border-footer-">
            <h3>About Us</h3>
            <p class="footer-text"> Sed sed eroe nulla.In
              Fermentum turpis quis sem 
              mollis tempor. Nulla mollis,
              lorem vel commodo dignissim,
              sapien purus consectetur
              sapien, sit amet pellentesque
              enim lectus </p>
          </div>
        </div>
        <div class="column col-md-3 " style="margin-left:0px margin-right:0px" >
          <div class="border-footer-">
            <h3>Contact</h3>
            <p class="footer-text"> <%=org_address[0]|| ""%></p>
            <p class="footer-text"> <%=org_address[1]||"" %></p>
            <p class="footer-text"> info@rpc.com</p>
            <p class="footer-text"> <%=org_address[2]|| ""%></p>
          </div>
        </div>
          <div class="column col-md-3 " style="margin-left:0px margin-right:0px" >
          <div class="border-footer-">
            <h3>We are Open</h3>
            <% if @org.opening_day.present? %>
            <p class="footer-text" ><%= @org.opening_day %> - <%= @org.closing_day %> </p>
            <% else %>
            <p class="footer-text" > Monday - Sunday</p>
            <% end %>
            <% if @org.opening_hour.present? %>
            <p class="footer-text"><%= @org.opening_hour %> - <%= @org.closing_hour%> </p>
             <% else %>
            <p class="footer-text"> 11:00 am - 12:00 pm</p>
            <% end %>
          </div>
        </div>
          <div class="column col-md-3 " style="margin-left:0px margin-right:0px" >
          <div class="border-footer-">
            <h3>Footer Menu</h3>
            <p class="footer-text">
            </p><ul>
              <li class="list-style"><a href="/products">Our Services</a></li>
              <li class="list-style"><a href="#">Staff</a></li>
              <li class="list-style"><a href="#"> profile</a></li>
              <li class="list-style"><a href="#"> Photo Gallery</a></li>
              <li class="list-style"><a href="#">Our Blog</a></li>
              <li class="list-style"><a href="/messages">Contact Us</a></li>
            </ul>
            <p></p>
          </div>
        </div>
        <div class="column col-md-12 ">
          <div class="hr-footer"></div>
          <div style="margin-top:3%;" class="">
            <p class="footer-text text-center"> <a href="/prodcuts">Our Services</a> | <a href="#">Staff</a> | <a href="#"> profile</a> | <a href="#"> Photo Gallery</a> | <a href="#">Our Blog</a> | <a href="/messages">Contact Us</a>
              
            </p>
          </div>
        </div>
        
        <!-- /FOOTER LATEST POSTS --> 
        
      </div>
    </div>
  </div>
  <!-- footer content --> 
  
<!-- JAVASCRIPT FILES --> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.cookie.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.appear.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.isotope.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/masonry.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.magnific-popup.min.js"></script>  
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.stellar.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.knob.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.backstretch.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.superslides.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/styleswitcher.js"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT --> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/mediaelement-and-player.min.js"></script> 

<!-- REVOLUTION SLIDER --> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/slider_revolution.js"></script> 

<script type="text/javascript" src="/assets/shared/jquery.min.js"></script>
<script type="text/javascript" src="/assets/shared/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/assets/shared/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/shared/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/assets/shared/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/shared/echo.min.js"></script>
<script type="text/javascript" src="/assets/shared/jquery.rateit.min.js"></script>
<script type="text/javascript" src="/assets/shared/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/assets/shared/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/shared/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/assets/shared/jquery.fitvids.js"></script>
<script type="text/javascript" src="/assets/shared/lightbox.min.js"></script>
<script type="text/javascript" src="/assets/shared/wow.min.js"></script>
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/scripts.js"></script>
<script type="text/javascript" src="/assets/<%= @selected_template.template_no%>/layout.js"></script>

<script>
  echo.init({
    offset: 100,
    throttle: 250,
    unload: false
  });
</script>

<!-- For demo purposes – can be removed on production -->


<script>


  $(window).bind("load", function() {
    $('.show-theme-options').delay(2000).trigger('click');
  });


  $(".error-messages").show().delay(10000).fadeOut();
  $(".alert").show().delay(10000).fadeOut();
  $(".flash success").show().delay(10000).fadeOut();
  $(".flash").show().delay(10000).fadeOut();
  $(".errorExplanation").show().delay(10000).fadeOut();
  $(".error").show().delay(10000).fadeOut();


</script>
<!-- For demo purposes – can be removed on production : End -->

</footer>