  <% if params[:controller]=="spree/home" and params[:action]=="index"%>
 <header class="topHead-black fixed" id="topHead">
  <%else%>
  <header class="topHead-black fixed " id="topHead" style="width:100%;">
  <%end %>
    <div class="container"> 
      
      <!-- PHONE/EMAIL --> 
     <!--  <span class="quick-contact pull-left"> <i class="fa fa-phone"></i> 1800-555-1234 • <a href="mailto:mail@yourdomain.com" class="hidden-xs">mail@domain.com</a> </span>  -->
      
      <!-- SIGN IN -->
      
      <div class="pull-right nav signin-dd"> 

      <% if spree_user_signed_in? %>
      <a href="<%= spree_logout_path%>" id="quick_sign_in"><i class="fa"></i><span class="hidden-xs"> Sign Out</span>
        <a href="/account" id="quick_sign_in"><i class="fa fa-users"></i><span class="hidden-xs">My Account</span>
      </a>
      <%else%>
      <a href="/login" id="quick_sign_in"><i class="fa fa-users"></i><span class="hidden-xs"> Sign In</span>
      </a>
       <%end%>
          <a href="/cart" id="quick_sign_in"><i class="fa fa-shopping-cart"></i><span class="hidden-xs">Cart</span>
      </a>
      </div>
      <!-- /SIGN IN --> 
      
      <!-- CART MOBILE BUTTON --> 
      <a href="/cart" id="btn-mobile-quick-cart" class="pull-right"><i class="fa fa-shopping-cart"></i></a> 
      <!-- CART MOBILE BUTTON --> 
      
      <!-- LINKS -->
      <div class="pull-right nav hidden-xs"> <a href="/page/<%= @about_us_page.try(:id)%>"><i class="fa fa-angle-right"></i> About</a> <a href="/messages"><i class="fa fa-angle-right"></i> Contact</a> </div>
      <!-- /LINKS --> 
      
    </div>
  </header>

  <header class="topHead" id="topNav" style="height: 81px;"><!-- remove class="topHead" if no topHead used! -->
    <div class="container"> 
      
      <!-- Mobile Menu Button -->
      <button data-target=".nav-main-collapse" data-toggle="collapse" class="btn btn-mobile" style="margin-top: 8px;"> <i class="fa fa-bars"></i> </button>
      
      <!-- Logo text or image --> 
      <a href="/" class="logo" style="margin-top: 0px; line-height: 50px;"> <img alt="Atropos" src="<%= Spree::Logo.last.avatar.url(:logo)%>" style="width:85%;"> </a> 
      
      <!-- Top Nav -->
      <div class="navbar-collapse nav-main-collapse collapse pull-right top-nav-bg" style="margin-top: 16px;">
        <nav class="nav-main mega-menu">
          <ul id="topMain" class="nav nav-pills nav-main scroll-menu">
            <li class="mega-menu-item mega-menu-two-columns"> <a href="/"> Home </a> </li>
            <li class="mega-menu-item mega-menu-two-columns"> <a href="/products"> Services </a> </li>
           

            <!-- Arrange Menus -->   
            <% @customize_pages.each_with_index  do |page, index|%>
                <% if index >= 2 %>
                  <% if index == 2 %>
                    <li class="dropdown">
                      <a class="dropdown-toggle" href="#">
                          More <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu menu_color">
                  <% end %>
                        <li><a href="/page/<%= page.id %>"><%= page.title%></a></li>
                  <% if index+1 == @customize_pages.length %>
                      </ul>
                    </li>
                  <% end %>
                <% else %>
                  <li class="mega-menu-item mega-menu-two-columns"> <a href="/page/<%= page.id %>"> <%= page.title%> </a> </li>
                <% end %>
            <% end %>
            <li class="mega-menu-item mega-menu-two-columns"> <a href="/page/<%= @about_us_page.try(:id)%>"> About Us </a> </li>
            <li class="mega-menu-item mega-menu-two-columns"> <a href="/messages"> Contact Us </a> </li>
            <!-- GLOBAL SEARCH -->
            <li class="search"> 
              <!-- search form -->
              <%= form_tag spree.products_path, class: "input-group pull-right",:method => :get do %>
              <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), :class => "search-text-area form-control" %>
              <span class="input-group-btn">
              <%= submit_tag Spree.t(:search), :name => nil,:class => "btn btn-primary notransition" %>
               </span>
            <% end %>
            <!--   <form class="input-group pull-right" action="#" method="get">
                <input type="text" placeholder="Search" value="" id="k" name="k" class="form-control">
                <span class="input-group-btn">
                <button class="btn btn-primary notransition" style="margin-top: 8px;"><i class="fa fa-search"></i></button>
                </span>
              </form> -->
              <!-- /search form --> 
            </li>
            <!-- /GLOBAL SEARCH --> 
            
            <!-- QUICK SHOP CART -->
          <li class="mega-menu-item mega-menu-two-columns">
          <a href="/cart" class="fa fa-shopping-cart cart-align">
            <span class="badge pull-right custom-badge"><%= @order.try(:line_items)? @order.try(:line_items).count : 0 %></span>
            </a>
          </li>
            
         
        
              
        
            <!-- /QUICK SHOP CART -->
            
          </ul>
        </nav>
      </div>
      <!-- /Top Nav --> 
      
    </div>
  </header>