<div class="container top-space">
  <br>
  <%= flash_messages %>
<%
paginated_products = @searcher.retrieve_products if params.key?(:keywords)
paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>
<!-- <div class="row top-shop-option">
						<div class="col-sm-6 col-md-6">
							<p>Showing 1-12 of <%=products.count%> results.</p>
						</div>
						
					</div> -->
<div class="row">
<div class="custom-alert alert-success" style="display: none;"> Successfully Added </div>
<aside class="col-md-3">
<div class="col-sm-12 col-md-12 no-padding" >
							<%if products.count>12%>
							<p>Showing 1-12 of <%=products.count%> results.</p>
							<%end%>
						</div>

	<h3>CATEGORIES</h3><!-- h3 - have no margin-top -->
              <ul class="nav nav-list">

                <% if "spree/products" == params[:controller] && taxon %>
      <%= render :partial => 'spree/shared/filters' %>
    <% else %>
     <%#= render :partial => "spree/shared/#{@selected_template.template_no}/products_index" %>
     <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>


  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level] do %>
  
      <%= taxons_tree_products_list(taxonomy.root, @taxon) %>
    <% end %>
  <% end %>
    <% end %>
              </ul>
</aside>
<div class="col-md-9">
<%products.each do |p|%>
<div class="col-sm-6 col-md-3"><!-- item -->
 
                   <% url = product_path(p) %>
                   

							<div class="item-box">
								<figure>
									<a class="item-hover" href="<%=url%>">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<!-- <img src="/assets/1.jpg" class = "img-responsive"> -->
									<%= link_to product_image(p, :itemprop => "image", :class => "img-responsive responsive-height",:style=>"max-width:100%;", rel: 'shadowbox' )%>
                  <%= link_to url, :class => "btn btn-primary add_to_cart cart_popup", :remote => true, "data-toggle" => "modal", "data-target" => "#myModal", style: "width: 100%" do %>
                  <i class="fa fa-shopping-cart"></i> ADD TO CART
                <% end %>
								</figure>
								
								<div class="item-box-desc">
									<h4><%=p.name%></h4>
									<small class="styleColor"><span>$<%=p.price%></span></small>
								</div>
							</div>
						</div>
						<%end%>
						</div>
						</div>
						<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products%>
<% end %>
</div>
<%= render :partial => "spree/shared/2/popup_modal" %>

