<% content_for :page_title do %>
  <%= Spree.t(:new_promotion) %>
<% end %>

<div data-hook="admin_user_new_form" class="col-md-12">
 <div class="portlet box blue">
   <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i> <%= Spree.t(:new_promotion) %>
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
<%= form_for :promotion, :url => collection_url do |f| %>
  <div class="form-body">
    <%= render :partial => 'form', :locals => { :f => f } %>
  </div>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>
</div>
</div>
