   <% content_for :page_title do %>
   Email Templates
   <% end %>
   <div class="col-md-9">
     <div class="portlet box blue">
       <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-gift"></i> Update Template
        </div>
        <div class="tools">
          <a href="" class="collapse" data-original-title="" title="">
          </a>
        </div>
      </div>
      <div class="portlet-body form">
       <%= form_for @email_template , url: {action: "update"} do |f| %>
       <div class="form-body" >
         <div class="field" data-hook="admin_general_setting_input_name">
          <label for="store_name">Email Title *</label>
          <br>
          <%=@email_template.title%>
        </div>
        <div class="field" data-hook="admin_general_setting_input_name">
          <label for="store_name">To</label>
          <br>
          <%= f.text_field :mailto, class: "form-control" %>
          <br><small> <p>Enter enter emails seprated by comma.
        </p> </small>
      </div>
      <div class="field" data-hook="admin_general_setting_input_name">
        <label for="store_name">CC</label>
        <br>
        <%= f.text_field :mailcc,class: "form-control" %>
        <br><small> <p>Enter enter emails seprated by comma.
      </p> </small>
    </div>
    <div class="field" data-hook="admin_general_setting_input_name">
      <label for="store_name">Text</label>
      <br>
      <%= f.cktext_area :mailtext, class: "form-control" %>
    </div>
  </div>

  <div class="form-buttons filter-actions actions form-actions" data-hook="buttons">
   <a class="btn blue " href="javascript:void(0)" onclick="window.history.back();"><span class="text white_color" >Back</span></a>
   <span class="or">or</span>
   <button type="submit" class="btn blue">Save</button>
 </div>
 <% end %>
</div>
</div>
</div>
<div class="col-md-3">
    <ul class="ver-inline-menu tabbable margin-bottom-10">
    <% @emailtemplates.each do |etemp| %>
      <li class="<%= is_active?("/admin/email_templates/#{etemp.id}/edit") %>">
        <a href="/admin/email_templates/<%= etemp.id %>/edit" aria-expanded="true">
         <i class="fa fa-book"></i>
          <%= etemp.title %>
       </a>
       <span class="after">
        </span>
     </li>
     <% end %>
</ul>
</div>
