<% content_for :page_title do %>
  <%= Spree.t(:new_zone) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to admin_zones_path, :icon => 'arrow-left', class: "btn blue" do %><i class="fa fa-arrow-left"></i> <%= Spree.t(:back_to_zones_list)%> <% end %>
  </li>
  <% end %>
<div class="portlet box blue">
 <div class="portlet-title">
  <div class="caption">
    <i class="fa fa-gift"></i> <%= Spree.t(:new_zone) %>
  </div>
  <div class="tools">
    <a href="" class="collapse" data-original-title="" title="">
    </a>
  </div>
</div>
<div class="portlet-body form">

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @zone } %>

<%= form_for [:admin, @zone] do |zone_form| %>
<div class="form-body">
  <%= render :partial => 'form', :locals => { :zone_form => zone_form } %>
</div>
  <div class="clear"></div>
  
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>
</div>
</div>
