<% content_for :page_title do %>
  <%= Spree.t(:new_tax_rate) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to spree.admin_tax_rates_path, :icon => 'arrow-left', class: "btn blue" do %><i class="fa fa-arrow-left"></i><%= Spree.t(:back_to_tax_rates_list)%><% end %>
  </li>
<% end %>
<div class="portlet box blue">
 <div class="portlet-title">
  <div class="caption">
    <i class="fa fa-gift"></i> <%= Spree.t(:new_tax_rate) %>
  </div>
  <div class="tools">
    <a href="" class="collapse" data-original-title="" title="">
    </a>
  </div>
</div>
<div class="portlet-body form">
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @tax_rate } %>

<%= form_for [:admin, @tax_rate] do |f| %>
  <div class="form-body">
    
    <%= render :partial => 'form', :locals => { :f => f } %>
  </div>
    <div class="clear"></div>

    <%= render :partial => 'spree/admin/shared/new_resource_links' %>

<% end %>
</div>
</div>
