<%= javascript_include_tag "/assets/3/jquery.min.js" %>
<%= javascript_include_tag "/assets/3/bootstrap.min.js" %>
<%#= javascript_include_tag :/3/jquery.min.js -%>
<div style="background: rgba(255, 255, 255, 0.4); position:absolute; width:100%; z-index:9;">
<div class="container">
<table width="100%" border="0">
  <tr>
  <%= form_tag spree.products_path, :method => :get do %>
    <th width="90%" >
  <%= search_field_tag :keywords, params[:keywords],:style=>"width: 100%;
border-radius: 7px;
padding-left: 7px; background: rgba(255, 255, 255, 0.8);"%>
</th>
    <th width="10%" ><%= submit_tag Spree.t(:search), :name => nil,:class => "search-button" %>
</th>
<% end %>
  </tr>
</table>

 </div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
   <ol class="carousel-indicators">
   <%@selected_template.spree_slider_images.each_with_index do |image,index| %>
   <% if index == 0 %>
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <%else%>
     <li data-target="#myCarousel" data-slide-to=<%=index%>></li>
   <%end%>
   <%end%>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <%@selected_template.spree_slider_images.each_with_index do |image,index| %>
   <% if index == 0 %>
    <div class="item active">
      <img src="<%= image.slider_image.url(:xlarge)%>" alt="Slider">
    </div>
    <%else%>
      <div class="item ">
      <img src="<%= image.slider_image.url(:xlarge)%>" alt="Slider">
    </div>
    <%end%>

     <%end%> 
  </div>


  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section class="section-quote">
  <div class="container">
    <div class="quote-body col-md-12">
   <!--    <h3 class=" animated" data-animation="fadeIn" data-animation-delay="200">Welcome to Law irm - Providing Legal Help</h3>
      <div class="quote-name animated" data-animation="fadeIn" data-animation-delay="250">Experience Reliability Ethies </div>
      <div class="separator animated" data-animation="fadeIn" data-animation-delay="300"><i class="fa fa-quote-left"></i></div> -->
      <p class="quote-role animated" data-animation="fadeIn" data-animation-delay="200"><%=  @home_content.try(:description).try(:html_safe)%></p>
     <!--  <div class="u-photo animated" data-animation="pulse" data-animation-delay="450" > <span>Get your free consultation</span> <span style="background: red;
color: #fff;
padding: 9px;
border-radius: 40px;
font-size: 25px;">00-000-0000</span> <span>Available 24/7</span> </div> -->
    </div>
    <!-- end col-sm-6 --> 
    
    <!-- end col-sm-6 --> 
    
  </div>
  <!-- end container --> 
  
</section>

<!-- END SECTION QUOTE -->
<% data_pages = [{:img => "breakfast", :animation => "200"}, 
             {:img => "lunch", :animation => "350"}, 
             {:img => "afternoon", :animation => "500"}, 
             {:img => "dinner", :animation => "650"}] %>
<section class="section-features">
  <div class="container">
    <% @static_pages.each_with_index do |page, index|%>
    <div class="col-sm-6 col-md-3 animated" data-animation="flipInY" data-animation-delay=<%= data_pages[index][:animation]%>>
      <div class="h-event"> <img src="/assets/3/<%= data_pages[index][:img]%>.png" alt="">
        <div class="p-name"><%= page.title%></div>
        <p> <%= truncate(strip_tags(page.description.html_safe), length: 50) %> </p>
         <span class="dt-start read-more"><a href="/page/<%= page.id%>">Read More</a></span> </div>
    </div>
    <% end %>
  </div>
  <!-- end container --> 
  
</section>

<!-- END FEATURES --> 

<!-- VERTICAL SLIDER -->
<section class="section-counter">
  <div class="container">
    <div class=" col-sm-10 col-sm-offset-1">
      <h2 class="white-col">Practise Areas</h2>
      <%= render :partial => "/spree/shared/#{@selected_template.template_no}/products", :locals => { :products => @products, :taxon => @taxon } %>
      <!-- end col-sm-3 --> 
      
    </div>
    <!-- end counter-wrap --> 
    
  </div>
  <!-- end container --> 
  
</section>
<!-- VIDEO BG -->

<!-- <section class="section-video">
  <div class="container">
    <h2 class="white-col text-center" >Recent Legal Articles</h2>
    <div class="col-sm-4 col-md-4 bottom-mar animated" data-animation="fadeInRight" data-animation-delay="300">
      <div class="col-md-12" style="background:#343434; padding:7px;">
        <div class="col-md-2" style="padding:0px;"><img src="/assets/3/footer/1.png"></div>
        <div class="col-md-10">
          <p>Text of the printing and industry.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 bottom-mar animated" data-animation="fadeInRight" data-animation-delay="300">
      <div class="col-md-12" style="background:#343434; padding:7px;">
        <div class="col-md-2" style="padding:0px;"><img src="/assets/3/footer/2.png"></div>
        <div class="col-md-10">
          <p>Text of the printing and industry.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 bottom-mar animated" data-animation="fadeInRight" data-animation-delay="300">
      <div class="col-md-12" style="background:#343434; padding:7px;">
        <div class="col-md-2" style="padding:0px;"><img src="/assets/3/footer/3.png"></div>
        <div class="col-md-10">
          <p>Text of the printing and industry.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 bottom-mar animated" data-animation="fadeInRight" data-animation-delay="300">
      <div class="col-md-12" style="background:#343434; padding:7px;">
        <div class="col-md-2" style="padding:0px;"><img src="/assets/3/footer/4.png"></div>
        <div class="col-md-10">
          <p>Text of the printing and industry.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 bottom-mar animated" data-animation="fadeInRight" data-animation-delay="300">
      <div class="col-md-12" style="background:#343434; padding:7px;">
        <div class="col-md-2" style="padding:0px;"><img src="/assets/3/footer/5.png"></div>
        <div class="col-md-10">
          <p>Text of the printing and industry.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 bottom-mar animated" data-animation="fadeInRight" data-animation-delay="300">
      <div class="col-md-12" style="background:#343434; padding:7px;">
        <div class="col-md-2" style="padding:0px;"><img src="/assets/3/footer/6.png"></div>
        <div class="col-md-10">
          <p>Text of the printing and industry.</p>
        </div>
      </div>
    </div>
    <div style="height:50px; clear:both;"></div>
  </div>
</section> -->