
     <div id="wrapper">
     

      <!-- PAGE TITLE -->
      

      <section id="contact" class="container warehouse" >


        <div class="row">

          <!-- FORM -->
          <div class="col-md-8">

            <h2>Contact <em>Us</em></h2>

            <!-- 
              if you want to use your own contact script, remove .hide class
            -->

            <!-- SENT OK -->
          <div id="_sent_ok_" class="alert alert-success fade in fsize16 hide">
              <button type="button" class="close"  aria-hidden="true">&times;</button>
              <strong>Thank You!</strong> Your message successfully sent!
            </div>
            <!-- /SENT OK -->

            <!-- SENT FAILED -->
            <div id="_sent_required_" class="alert alert-danger fade in fsize16 hide">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <strong>Failed!</strong> Please complete all mandatory (*) fields!
            </div>
            <!-- /SENT FAILED -->
            <%= form_for @message, :url => "/messages", remote: true, :html => { :id => "contact_us" }  do |f| %>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-4">
                     <%= f.label :name,"Full Name *" %>
                  <%= f.text_field :name,:class=>'form-control contact-field',:required=>true %>
                  </div>
                  <div class="col-md-4">
                     <%= f.label :email,"Email Address *" %>
                  <%= f.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}',:class=>'form-control contact-field',:placeholder=>"john@gmail.com" %>
                  </div>
                  <div class="col-md-4">
                      <%= f.label :phone %>
                  <%= f.text_field :phone ,:class=>'form-control contact-field'%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                      <%= f.label :subject %>
                  <%= f.text_field :subject ,:class=>'form-control',:style=>"width: 100%;"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                  <%= f.label :body,"Message *" %>
                   <%= f.text_area :body,:class => 'contact_name col-md-12', :maxlength=>"500",:required=>true,:rows=>10 %>
                  </div>
                </div>
              </div>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <span class="pull-right"><!-- captcha -->
                    
                    
                  </span>

                  <%= f.submit "Send",  :class=>"form_send hover btn btn-primary btn-lg",:style=>"width: 200px;
height: 51px;
padding: 12px 32px;
border-radius: 11px !important;
border: none;" %>
                  <%#= f.submit,'Send',  :class=>"btn btn-primary btn-lg" %>
                </div>
              </div>
          <%end%>
          </div>
          <!-- /FORM -->
                    <div class="col-md-4">
                    <h2>Social  <em>Link</em></h2>
                    
                    <a href=<%= @org.facebook_url|| '#'%> class="btn-facebook fullwidth radius3"><i class="fa fa-facebook"></i> Connect With Facebook</a>
                    <a href=<%= @org.twitter_url|| '#'%> class="btn-twitter fullwidth radius3"><i class="fa fa-twitter"></i> Connect With Twitter</a>
                    <a href=<%= @org.google_url|| '#'%> class=" btn-google-plus fullwidth radius3"><i class="fa fa-google"></i> Connect With Google+</a>
                    <hr>
                     <h2>Map </h2>
                     <div id="map-canvas" style=" width:100%;
        height: 400px;" ></div>
                    
                    </div>

        </div>

      </section>

    </div>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="/assets/g_map.js"></script>
    <script type="text/javascript">
     setAddress('<%= @complte_address %>')
    </script>
