<div class="org_addresses">
  <div class="field" data-hook="admin_general_setting_input_meta_description">
    <%= ff.label :country %>
    <br>
    <%= ff.text_field :country, :class => 'fullwidth'   %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_meta_description">
    <%= ff.label :company_address %>
    <br>
    <%= ff.text_field :company_address, class: 'fullwidth'  %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_meta_description">
    <%= ff.label :city %>
    <br>
    <%= ff.text_field :city, :class => 'fullwidth'   %>
  </div>
   <div class="field" data-hook="admin_general_setting_input_meta_description">
    <%= ff.label :state %>
    <br>
    <%= ff.text_field :state, :class => 'fullwidth'   %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_url">
    <%= ff.label :postal_code ,'Postal code'%>
    <br>
    <%= ff.text_field :postal_code, :class => 'fullwidth'  %>
  </div>
  <div class="field" data-hook="admin_general_setting_mail_from_address">
      <%= ff.label :phone_no %>
    <br>
    <%= ff.text_field :phone_no, :class => 'fullwidth' %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_url">
   <%= ff.hidden_field :_destroy %>
    <%#= ff.label :_destroy, "Remove Address" %>
    <%= link_to_remove_fields_for_org "remove", ff %>
    </div>
    <%= link_to_add_fields_for_org "Add Address", ff, :org_addresses %>
</div>
<script>
  $(document).ready(function() {
      function remove_org_address_fields(link) {
  $(link).previous("input[type=hidden]").value = "1";
  $(link).up(".org_addresses").hide();
}

function add_fields(link, association, content) {
  var new_id = new Date().getTime();
  var regexp = new RegExp("new_" + association, "g")
  $(link).up().insert({
    before: content.replace(regexp, new_id)
  });
}
    )};
</script>