<div class="org_addresses">
<div class="field" data-hook="admin_general_setting_input_meta_description">
    <%= f.label :company_address %>
    <br>
    <%= f.text_field :company_address, class: 'fullwidth',required: true  %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_meta_description">
    <%= f.label :country %>
    <br>
    <%= f.text_field :country, :class => 'fullwidth' ,required: true   %>
    <%#= f.collection_select :country, available_countries, :id, :name, {}, {:class => 'fullwidth',:required => true} %>
  </div>
   <div class="field" data-hook="admin_general_setting_input_meta_description">
    <%= f.label :state %>
    <br>
    <%= f.text_field :state, :class => 'fullwidth' ,required: true   %>
  </div>
  
  <div class="field" data-hook="admin_general_setting_input_meta_description">
    <%= f.label :city %>
    <br>
    <%= f.text_field :city, :class => 'fullwidth',required: true    %>
  </div>
  
  <div class="field" data-hook="admin_general_setting_input_url">
    <%= f.label :postal_code ,'Postal code'%>
    <br>
    <%= f.text_field :postal_code, :class => 'fullwidth'  %>
  </div>
  <div class="field" data-hook="admin_general_setting_mail_from_address">
      <%= f.label :phone_no %>
    <br>
    <%= f.text_field :phone_no, :class => 'fullwidth',:pattern => '[0-9]{1,13}',:title=>"Only Number" %>
  </div>
  <div class="field">
        <span class="btn blue fa fa-minus ">
         <span class="white-text">
            <%= f.hidden_field :_destroy %>
            <%=link_to_remove_fields_o "Remove address", f  %>
          </span>
        </span>   
 
  </div>


</div>
<%= javascript_include_tag '/assets/add_reomve_addresses_field' %>
