 <%= javascript_include_tag :defaults, :cache => true %>
 <%= render :partial => 'spree/shared/setting_sub_nav_tab' %>
  <div id="content-header" data-hook="">
    <div class="container">
      <div class="sixteen columns">
        <div class="block-table">
          <div class="table-cell">
            <h1 class="page-title "> Organization Settings </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
 <%= form_for(@org=Spree::Organization.first,url:  admin_organization_path(@org), multipart: true) do |f| %>
  <div class="container">
    <div class="row">
      <div class="with-sidebar " >
        <div class="twelve columns"> <br>
          <form   method="post">
            <div >
              <fieldset class="general no-border-top">
                <div class="field" data-hook="admin_general_setting_input_name">
                  <label for="store_name">Company Code</label>
                  <br>
                  <%= f.text_field :company_code, class: 'fullwidth'  %>
                </div>
                <div class="field" data-hook="admin_general_setting_input_seo_title">
                  <label for="store_seo_title">Company Name</label>
                  <br>
                 <%= f.text_field :company_name, class: 'fullwidth'  %>
                </div>
                <br>
                <h1> Address Details</h1>
                <%=f.fields_for :org_addresses do |builder| %>
                <%= render 'org_address_fields', :f => builder %>
                <%end%>
                <span class="button fa fa-plus ">
                 <%=link_to_add_fields_o "Add a new address", f, :org_addresses%>
                 </span>
                
                <div class="field" data-hook="admin_general_setting_mail_from_address">
                    <%= f.label :facebook_url,'Facebook Link' %>
                  <br>
                  <%= f.text_field :facebook_url, :class => 'fullwidth' %>
                </div>
                <div class="field" data-hook="admin_general_setting_mail_from_address">
                    <%= f.label :twitter_url,'Twitter Link' %>
                  <br>
                  <%= f.text_field :twitter_url, :class => 'fullwidth' %>
                </div>
                <div class="field" data-hook="admin_general_setting_mail_from_address">
                    <%= f.label :google_url,'Google Link' %>
                  <br>
                  <%= f.text_field :google_url, :class => 'fullwidth' %>
                </div>
                <div class="field" data-hook="admin_general_setting_input_meta_keywords">
                  <%= f.label :central_time %>
                  <br>
                  <select class="fullwidth" style="border-radius: 3px;
padding: 7px 10px;
border: 1px solid #cee1f4;
font-size: 90%;">
                    <option selected="">(GMT-06:00) Central Time</option>
                    <option>(GMT-06:00) Central Time</option>
                    <option>(GMT-06:00) Central Time</option>
                  </select>
                </div>
               
                
                
                <div class="form-buttons " data-hook="buttons"> <a class="button "><span class="text"><div class="actions">
    <%= f.submit %>
  </div></span></a> </div>
              </fieldset>
            </div>
          </form>
        </div>
        <%end%>
        <aside  data-hook="" class="four columns"> <br>
          <nav class="menu">
            <ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
              <li class="active" ><a href="#">Information</a></li>
              <li ><a href="/admin/logos"> Logo & Favicon </a></li>

            </ul>
          </nav>
        </aside>
      </div>
    </div>
  </div>
<script>
function add_fields_o(link, association, content) {  
    var new_id = new Date().getTime();  
    var regexp = new RegExp("new_" + association, "g");  
    $(link).parent().before(content.replace(regexp, new_id));  
}
</script>