<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  
  <head data-hook="">
    <%= render :partial => "spree/shared/#{@selected_template.template_no}/head" %>
    <%= render :partial => "spree/shared/#{@selected_template.template_no}/header" %>
  </head>
  <% if params[:controller]=="spree/home" and params[:action]=="index"%>
  <body class="boxed">
  <style type="text/css">
  #content{ margin-top: 0px; min-height: 0px !important;}
  </style>
  <%else%>
  <style>.main-body, header {
margin: auto;
max-width: 100%; 
}
</style>
  <body >
  <%end %>
  <div class='main-body'>


    <div id="wrapper" style="padding-top:80px !important">

<%#= breadcrumbs(@taxon) %>

      <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

      <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>

        <%#*<div class="flash-messages-top-space">%>
          <%#= flash_messages %></div>
          <%= yield %>
      </div>

      <%= yield :templates %>

    </div>
    </div>

  <%= render :partial => "spree/shared/#{@selected_template.template_no}/footer" %>
<script type="text/javascript" src="/assets/g_analytics.js"></script>
  <%= render :partial => 'spree/shared/google_analytics' %>
</body>
</html>
  