<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  
  <head data-hook="">
  <link href="/assets/shared/contact.css" rel="stylesheet">
  <link href="/assets/shared/common.css" rel="stylesheet">
    <%= render :partial => "spree/shared/#{@selected_template.template_no}/head" %>
    <%= render :partial => "spree/shared/#{@selected_template.template_no}/header" %>
  </head>
  <% if params[:controller]=="spree/home" and params[:action]=="index"%>

  <body class="boxed">

  <style type="text/css">
  #content{ margin-top: 0px; min-height: 0px !important;}
  </style>
  <%else%>
  <style>.main-body, header {
margin: auto;
max-width: 100%; 
}
</style>
  <body>
  <%end %>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1430065913907266";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class='main-body'>


    <div id="wrapper" class="wrapper-padding">

<%#= breadcrumbs(@taxon) %>

      <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

      <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>

        <%#*<div class="flash-messages-top-space">%>
          <%#= flash_messages %></div>
          <%= yield %>
      </div>

      <%= yield :templates %>

    </div>
    </div>

  <%= render :partial => "spree/shared/#{@selected_template.template_no}/footer" %>
<script type="text/javascript" src="/assets/g_analytics.js"></script>
  <%= render :partial => 'spree/shared/google_analytics' %>
</body>
</html>
  