<% content_for :page_title do %>
  <%= Spree.t(:new_shipping_method) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to spree.admin_shipping_methods_path, :icon => 'arrow-left', class: "btn blue" do %><i class="fa fa-arrow-left"></i> <%= Spree.t(:back_to_shipping_methods_list)%><% end %>
  </li>
<% end %>
<div class="portlet box blue">
 <div class="portlet-title">
  <div class="caption">
    <i class="fa fa-gift"></i> <%= Spree.t(:new_country) %>
  </div>
  <div class="tools">
    <a href="" class="collapse" data-original-title="" title="">
    </a>
  </div>
</div>
<div class="portlet-body form">
<div data-hook="admin_shipping_method_new_form_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipping_method } %>
</div>

<div data-hook="admin_shipping_method_new_form">
  <%= form_for [:admin, @shipping_method] do |f| %>
    <div class="form-body">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>
      <div class="clear"></div>

      <div data-hook="admin_shipping_method_new_form_buttons">
        <%= render :partial => 'spree/admin/shared/new_resource_links' %>
      </div>
  <% end %>
</div>
</div>
</div>
