<% content_for :page_title do %>
  <%= link_to "#{Spree.t(:editing_user)} #{@user.email}", edit_admin_user_url(@user) %>
<% end %>

<%= render :partial => 'spree/admin/users/user_page_actions' %>

<div data-hook="admin_user_addresses" id="admin_user_edit_addresses" class="col-md-9">

  <div data-hook="admin_user_edit_form_header">
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
  </div>

  <div data-hook="admin_user_address_edit_form" class="portlet box blue">
   <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i>Addressess
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
    <%= form_for [:admin, @user], as: :user, url: addresses_admin_user_url(@user), method: :put do |f| %>
    
      <%= render :partial => 'addresses_form', :locals => { :f => f } %>
      

      <div data-hook="admin_user_edit_form_button" class="form-actions">
        <%= render :partial => 'spree/admin/shared/edit_resource_links', :locals => { :collection_url => admin_users_url } %>
      </div>
       <div class="form-buttons filter-actions actions form-actions" data-hook="buttons">
          <a class="btn blue " href="javascript:void(0)" onclick="window.history.back();"><span class="text white_color" >Back</span></a>
       </div>
    <% end %>
    </div>
  </div>
</div>
<%= render :partial => 'spree/admin/users/sidebar', :locals => { :current => :address } %>

