<% content_for :page_title do %>
  <%= Spree.t(:listing_users) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to new_admin_user_url, :icon => 'plus', class: "btn blue", :id => 'admin_new_user_link' do %>
    <i class="fa fa-plus"></i> <%= Spree.t(:new_user)%> <% end %>
  </li>
<% end %>
<div data-hook="admin_users_index_search" class="portlet light">
  <div class="portlet-title">
    <div class="caption font-red-sunglo">
      <i class="icon-settings font-red-sunglo"></i>
      <span class="caption-subject bold uppercase"> Search</span>
    </div>
  </div>
  <div class="portlet-body form">
    <%= search_form_for [:admin, @search], url: admin_users_url do |f| %>
    <div class="form-body">
      <div class="form-group form-md-line-input col-md-4">
        <%= f.text_field :email_cont, class: "form-control" %>
        <%= f.label :email_cont, Spree.t(:email) %>
        <span class="help-block">Email goes here...</span>
      </div>
      <div class="form-group form-md-line-input col-md-4">
        <%= f.text_field :first_name_cont, class: "form-control" %>
        <%= f.label :first_name_cont, Spree.t(:first_name) %>
        <span class="help-block">First Name goes here...</span>
      </div>
      <div class="form-group form-md-line-input col-md-4">
        <%= f.text_field :last_name_cont, class: "form-control" %>
        <%= f.label :last_name_cont, Spree.t(:last_name) %>
        <span class="help-block">Last Name goes here...</span>
      </div>
      <div data-hook="admin_users_index_search_buttons">
        <button type="submit" class="btn blue"><%= Spree.t(:search) %></button>
      </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div class="">
  <div class="portlet box blue">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-users"></i>Users
      </div>
      <div class="tools">
        <a href="javascript:;" class="collapse" data-original-title="" title="">
        </a>
      </div>
    </div>
    <div class="portlet-body flip-scroll">
      <table class="table table-bordered table-striped table-condensed flip-content" id="listing_users">
        <thead class="flip-content">
         <tr data-hook="admin_users_index_headers">
          <th> <%= sort_link @search,:customer_number, 'Customer number', {}, {:title => 'users_customer_number_title'} %></th>
          <th> <%= sort_link @search,:first_name, Spree.t(:first_name), {}, {:title => 'users_first_name_title'} %></th>
          <th> <%= sort_link @search,:last_name, Spree.t(:last_name), {}, {:title => 'users_last_name_title'} %></th>
          <th> <%= sort_link @search,:credit_limit, 'Credit Limit', {}, {:title => 'users_customer_number_title'} %></th>
          <th> <%= sort_link @search,:curr_acc_blnc, 'Current Balance', {}, {:title => 'users_curr_acc_blnc_title'} %></th>
          <th> <%= sort_link @search,:balnce_date, 'Balance Date', {}, {:title => 'users_balnce_date_title'} %></th>
          <th><%= sort_link @search,:email, 'Email', {}, {:title => 'users_email_title'} %></th>
          <th data-hook="admin_users_index_header_actions" class="actions" style="width:13%;"></th>
        </tr>
        </thead>
        <tbody>
         <% @users.each do |user|%>
         <tr id="<%= spree_dom_id user %>" data-hook="admin_users_index_rows" class="<%= cycle('odd', 'even')%>">
          <td> <%=user.customer_number%></td>
          <td> <%=user.first_name%></td>
          <td> <%=user.last_name%></td>
          <td> <%=user.credit_limit%></td>
          <td> <%=user.curr_acc_blnc%></td>
          <td> <%=user.balnce_date%></td>
          <td class='user_email'><%=link_to user.email, edit_admin_user_url(user) %></td>
          <td data-hook="admin_users_index_row_actions" class="actions" style="width:13%"%>
            <%= link_to_edit user, :no_text => true %>
            <%= link_to_delete user, :no_text => true %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= paginate @users %>
