<% content_for :page_title do %>
  <%= Spree.t(:new_user) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to spree.admin_users_path, class: "btn blue" do %> <i class="fa fa-arrow-left"></i> <%= Spree.t(:back_to_users_list)%>
    <% end %>
  </li>
<% end %>

<div data-hook="admin_user_new_form_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
</div>

<div data-hook="admin_user_new_form" class="col-md-12">
 <div class="portlet box blue">
   <div class="portlet-title">
    <div class="caption">
       New User
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
    <%= form_for [:admin, @user], url: admin_users_url, method: :post do |f| %>
    <div class="form-body">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>

    <div data-hook="admin_user_new_form_buttons" class="form-actions">
        <%= render :partial => 'spree/admin/shared/new_resource_links' %>
      </div>
    <% end %>
  </div>
</div>
</div>
