<section> 
  <!-- Header Scroller Starts -->
  <div class="container-fluid text-center full-screen slider-push " style="margin-top: -9%;">
  <div id="wrapper">
    <div class="slider-wrapper theme-default">
      <div id="slider" class="nivoSlider">
      <%if @selected_template.spree_slider_images.length==0%>
      <img src="/assets/default-sliders/1.jpg" alt="" width="1300" height="500">
      <img src="/assets/default-sliders/2.jpg" alt="" width="1300" height="500">
      <img src="/assets/default-sliders/3.jpg" alt="" width="1300" height="500">
      <img src="/assets/default-sliders/4.jpg" alt="" width="1300" height="500">
    <%else%>
      <%@selected_template.spree_slider_images.each_with_index do |image,index| %> 
      <img src="<%= image.slider_image.url(:xlarge)%>" class="img-responsive center-block header-banner" alt=""> 
      <%end%>
      <%end%>  
      </div>
    </div>
  </div>
  
  <!-- Header Scroller Ends --> 
</section>
<!-- slidere end here --> 
<div class="clear20"></div>
<section>
  <div class="container banners">
    <div class="row">
      <div class="col-md-4 col-sm-4"><img src="<%= @selected_template.template_images.first.avatar.url(:home_image)%>" class="img-responsive center-block" alt=""></div>
      <div class="clear10 visible-xs"></div>
      <div class="col-md-4 col-sm-4"><img src="<%= @selected_template.template_images.second.avatar.url(:home_image)%>" class="img-responsive center-block" alt=""></div>
      <div class="clear10 visible-xs"></div>
      <div class="col-md-4 col-sm-4"><img src="<%= @selected_template.template_images.third.avatar.url(:home_image)%>" class="img-responsive center-block" alt=""></div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="text-center custom-center-wrapper">
      <div class="custom-center">
        <div class="caption-bar"></div>
        <div class="caption">NEW TRENDS</div>
        <div class="caption-bar"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center sub-caption">Most Trendy Shoes</div>
    <div class="clear20"></div>
    <ul class="list-unstyled list-inline text-center sub-nav-boxes">
      <li><a href="#" class="current">NEW ARRIVAL</a></li>
       <% @taxonomies[0..1].each do |taxonomy| %>
  
      <%= taxons_tree_products_shoes(taxonomy.root, @taxon) %>
  <% end %>
    </ul>
  </div>
</section>
<div class="clear40"></div>
<div class="clear40"></div>
<section>
 <div class="container">
    <div class="row products">
<%= render :partial => "/spree/shared/#{@selected_template.template_no}/products", :locals => { :products => @products, :taxon => @taxon } %>
</div>
</div>
</section>
<div class="clear40"></div>
<section>
  <div class="container-fluid full-screen blog-post">
    <div class="blog-post-text text-center"> <span class="glyphicon glyphicon-triangle-top"></span>
      <div class="clearfix"></div>
      <a href="/page/<%= @about_page.first.try(:id)%>" class="post-caption"><%= @about_page.first.title rescue '50 Years of Casual Styles'%></a>
      <div class="clearfix"></div>
      <!-- <a href="#" class="post-link">DISCOVER NOW</a> --> </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 left-promo">
        <div class="text-center promotion-1">
        <a href="/page/<%=@static_pages.first.try(:id)%>">
          <div class="caption"><%=@static_pages.first.title.html_safe rescue 'Best Winter Collection 2015'%></div>
          </a>
          <div class="details"><%=@static_pages.first.description.first(300).html_safe rescue 'Welcome to USA’s leading footwear brand and retailer.

Starting its journey as a single retail footwear outlet, the brand today has a 450+ stores presence in Pakistan, 2000+ dealer-base, and a growing international footprint in Europe, Middle East, and many other regions of the world.'%>

</div>
          <div class="btn"><!-- <a href="#" class="post-link">JOIN NOW</a> --></div>
        </div>
      </div>
      <div class="col-md-6 right-promo">
        <div class="text-center promotion-2">
        <a href="/page/<%=@static_pages.second.try(:id)%>">
          <div class="caption"><%=@static_pages.second.title.html_safe rescue 'USA'%></div>
          <div class="details">
          <%=@static_pages.second.description.first(300).html_safe rescue 'Save Up to 70% Off Clearance Sale'%>

          </div>
          <div class="btn"><!-- <a href="#" class="post-link">PURCHASES</a> --></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clear40"></div>
<div class="clear40"></div>
<section>
<!-- widgets start from here -->
<%= render :partial => "/spree/home/#{@selected_template.template_no}/widgets", :locals => { :recommended_products => recommended_products,:best_selling_products => best_selling_products, :taxon => @taxon } %>