<table>
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('order_mailer.cancel_email.dear_customer') %>
      </p>
      <p>
        <%if @email_template.mailtext.present? %>
      <%=@email_template.mailtext.html_safe%>
      <%else%>  
        <%= Spree.t('order_mailer.cancel_email.instructions') %>
        <%end%>
      </p>
      <p>
        <%= Spree.t('order_mailer.cancel_email.order_summary_canceled') %>
      </p>
      <table border="1" cellpadding="6" cellspacing="0" height="100%" width="100%" style="border-color:#eee;">
        <% @order.line_items.each do |item| %>
          <tr>
            <td><%= item.variant.sku %></td>
            <td>
              <%= raw(item.variant.product.name) %>
              <%= raw(item.variant.options_text) -%>
            </td>
            <td>(<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= Spree.t('order_mailer.cancel_email.subtotal') %></td>
          <td><%= @order.display_item_total %></td>
        </tr>
        <% @order.adjustments.eligible.each do |adjustment| %>
          <tr>
            <td></td>
            <td><%= raw(adjustment.label) %></td>
            <td><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= Spree.t('order_mailer.cancel_email.total') %></td>
          <td><%= @order.display_total %></td>
        </tr>
      </table>
    </td>
    <td class="expander"></td>
  </tr>
</table>
