<section >
  <div class="container-fluid footer" style="background-color: <%= footer_color() %>">
    <div class="container">
    <% if @logo_footer && @logo_footer.check %>
      <a href="#"><img src="<%= Spree::Logo.last.avatar.url(:logo)%>" class="img-responsive center-block"></a>
    <% end %>
        <div class="footer-text center-block text-center">
          
        </div>
<div class="text-center icons">
<% if @org.facebook_url.present? %>
<a target="_blank" href=<%= @org.facebook_url || '#'%>><i class="fa fa-facebook fa-2x"></i></a>
<%end%>
<%if  @org.twitter_url.present? %>
<a target="_blank" href=<%= @org.twitter_url || '#'%>><i class="fa fa-twitter fa-2x"></i></a> 
<%end%>
<% if @org.google_url.present? %>
<a target="_blank" href=<%= @org.google_url ||'#'%>><i class="fa fa-google-plus fa-2x"></i></a>
<%end%>
<% if @org.linked_in.present? %>
<a target="_blank" href=<%= @org.linked_in ||'#'%>><i class="fa fa-linkedin fa-2x"></i></a> 
<%end%>
<% if @org.pinterest.present? %>
<a target="_blank" href=<%= @org.pinterest || '#'%>><i class="fa fa-pinterest fa-2x"></i></a>
<%end%>
<% if @org.youtube.present? %>
<a target="_blank" href=<%= @org.youtube || '#'%>><i class="fa fa-youtube fa-2x"></i></a>
<%end%>
</div>
      <div class="clear10"></div>
      <div class="row bottom-links">
        <div class="col-md-3 col-sm-6 about-footer">
          <h4>ABOUT</h4>
          <% if @about_widget && @about_widget.widget_characteristics %>
          <%= @about_widget.widget_characteristics.first(600).html_safe %>
         <% end %>
        </div>
        <div class="clear10 visible-xs"></div>
        <div class="col-md-3 col-sm-6 link-footer">
          <h4>Important Links</h4>
          <div class="seperator"></div>
            <% if @link_widget && @link_widget.widget_characteristics %>
            <%= @link_widget.widget_characteristics.html_safe %>
            <% end %>
        </div>
        <div class="clear10 visible-xs"></div>
        <div class="col-md-3 col-sm-6 opening-hours">
          <h4>Opening Hours</h4>
           <div class="seperator"></div>
            <% if @org.opening_day.present? %>
            <p><%= @org.opening_day  %> - <%= @org.closing_day %> </p>
            <% else %>
            <p> Monday - Sunday </p>
            <% end %>
            <% if @org.opening_hour.present? %>
            <p><%= @org.opening_hour %> - <%= @org.closing_hour%> </p>
             <% else %>
            <p> 11:00 am - 12:00 pm</p>
            <% end %>
        </div>
        <div class="clear10 visible-xs"></div>
        <div class="col-md-3 col-sm-6 shop-location">
          <h4>SHOP LOCATION</h4>
          <div class="seperator"></div>
           <ul class="list-unstyled">
          <li>
          <%=org_address[0].gsub(',', ', ').html_safe || ""%>
          </li>
           </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Scripts Start --> 
<%= javascript_include_tag "/assets/#{@selected_template.template_no}/all_shoes_js" %>
<!-- Scripts End -->