<div class="fixed-header1 navbar-fixed-top" style="background-color: <%= header_color() %>"> 
  <!-- Header Links Section Starts -->
  <section>
    <div class="container">
      <div class="top-links clear40 hide-mob-view">
        <div class="col-md-6 welcome-msg">
          <div class="pull-left"> WELCOME TO <%=@org.company_name rescue 'PSHQ'%> </div>
        </div>
        <div class="col-md-6 store-top-links">
          <ul class="pull-right small-screen-left">
            <% if spree_user_signed_in? %>
            <li><a href="/account">MY ACCOUNT</a></li>

            <li> <%=  link_to 'SIGN OUT', spree_logout_path %></li>
            <%else%>
            
            <li><a href='/login'>SIGN IN</li>
            <%end%>
               <!--  <li><a href="#" class="search-container"><span class="fa fa-search fa-fw icons-fonts-topnav"></span></a></li> -->
                        <li class="mega-menu-item mega-menu-two-columns">
          <a href="/cart" class="fa fa-shopping-cart cart-align icons-fonts-topnav">
            <span class="badge pull-right custom-badge"><%= @order.try(:line_items)? @order.try(:line_items).count : 0 %></span>
            </a>
          </li>
          </ul>
        </div>
      </div>
    

        <div class="col-md-4">
          <div class="pull-left logo"><a href="/"><img src="<%= Spree::Logo.last.avatar.url(:logo) rescue ''%>" class="img-responsive" alt=""></a></div>
        </div>
        <div class="col-md-8"> 

          <!-- Visible for Small Devices Starts -->
          <div class="visible-sm visible-xs">
            

            <div class="pull-right responsive-menu">
              <div class="pull-right menu-icon"> <a href="#" class="menu-link">
              <!-- <span class="glyphicon glyphicon-menu-hamburger"></span> -->
              <i class="fa fa-bars fa-2x"></i>



              </a> </div>
                            <ul id="menu" class="list-unstyled">
                <% @customize_pages.each_with_index  do |page, index|%>
                <% if index >= 5 %>
                
                <% if index == 5 %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" href="#" aria-expanded="true">
                    More <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu"  role="menu" aria-labelledby="dropdownMenu1">
                    <% end %>
                    <li><a href="<%= set_paths(page) %>"><%= page.title.upcase%></a></li>
                    <% if index+1 == @customize_pages.length %>
                  </ul>
                </li>
                <% end %>
                <% else %>
                <li> <a href="<%= set_paths(page) %>"> <%= page.title.upcase%> </a> </li>
                <% end %>
                <% end %>
                <span class="mobile-view">
                 <% if spree_user_signed_in? %>
                <li><a href="/account">My Account</a></li>
                <li><%=  link_to 'SIGN OUT', spree_logout_path %></li>

                 <%else%>
                 <li><a href='/login'>SIGN IN</a></li>

                 <%end%>
                 </span>



              </ul>

                  
            </div>
               
               <div class="top-search-box search-slide">
               <%= form_tag spree.products_path, :method => :get do %>
               <%= search_field_tag :keywords, params[:keywords],:style=>"
               padding-left: 20px;background: transparent;", placeholder: "Search"%>
               <button><span class="fa fa-search fa-fw"></span></button>
               <%end%>
             </div>

           </div>
           <!-- Visible for Small Devices Ends --> 

           <!-- hidden for small devices starts -->
           <div class="hidden-sm hidden-xs">
            <div>
              <nav class="navbar navbar-default">
                <div>
                  <ul class="nav navbar-nav navbar-right">
                    <% @customize_pages.each_with_index  do |page, index|%>
                    <% if index >= 5 %>
                    <% if index == 5 %>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" href="#" aria-expanded="true">
                        MORE <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu"  role="menu" aria-labelledby="dropdownMenu1">
                        <% end %>
                        <li><a href="<%= set_paths(page) %>"><%= page.title.upcase%></a></li>
                        <% if index+1 == @customize_pages.length %>
                      </ul>
                    </li>
                    <% end %>
                    <% else %>
                    <li> <a href="<%= set_paths(page) %>"> <%= page.title.upcase%> </a> </li>
                    <% end %>
                    <% end %>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
              
                    
                  </ul>
                </nav>
              </div>
<div style="">
              <div class="top-search-box search-slide">
               <%= form_tag spree.products_path, :method => :get do %>
               <%= search_field_tag :keywords, params[:keywords],:style=>"
               padding-left: 20px; padding-bottom: 10px; paddbackground: transparent;", placeholder: "Searches"%>
               <button><span class="fa fa-search fa-fw"></span></button>
               <%end%>
             </div>
</div>  
           </div>
           <!-- hidden for small devices ends --> 

         </div>
     
     
     </div>
   </section>
   <!-- Header Links Section Ends --> 
   <div class="mobile-view container">
   
<div class="pull-right " style="   margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;">
   <span class="mega-menu-item mega-menu-two-columns">
          <a href="/cart" class="fa fa-shopping-cart cart-align icons-fonts-topnav">
            <span class="badge pull-right custom-badge"><%= @order.try(:line_items)? @order.try(:line_items).count : 0 %></span>
            </a>
          </span>

</div>
<div class="back-clor" style="">
     <%= form_tag spree.products_path, :method => :get do %>
               <%= search_field_tag :keywords, params[:keywords],:style=>"
               padding-left: 20px;background: transparent;   height: 31px; ", placeholder: "Search"%>
               <button ><span class="fa fa-search fa-fw"></span></button>
               <%end%>

   </div>
   </div>
</div>  <!-- header end here -->
<style type="text/css">
  .welcome-msg, .store-top-links li a, .navbar-default .navbar-nav>li>a { color: <%= header_font %>;}
  .footer .bottom-links h4, .opening-hours p, .about-footer p, .shop-location ul li { color: <%= footer_font %>;}
</style>