<div class="clear20"></div>
<%= flash_messages %>
<%
paginated_products = @searcher.retrieve_products if params.key?(:keywords)
paginated_products ||= products
%>
<% content_for :head do %>
<% if paginated_products.respond_to?(:num_pages) %>
<%= rel_next_prev_link_tags paginated_products %>
<% end %>
<% end %>
<div class="gallery-page clearfix gallery-placing">
	<div class="container isotope-wrapper">
		<div class="row">
		 <div class="custom-alert alert-success" style="display: none;"> Successfully Added </div>
			<div class="col-md-3 sidebar-links">
				<button data-toggle = "modal" data-target = "#myModalcompare" class="btn btn-primary">Compare Products</button>
				<h3 class="text-left">CATEGORIES</h3>
				<ul class="nav nav-list text-left">
					<% if "spree/products" == params[:controller] && taxon %>
					<%= render :partial => 'spree/shared/filters' %>
					<% else %>
					<%#= render :partial => "spree/shared/#{@selected_template.template_no}/products_index" %>
					<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>


					<% @taxonomies.each do |taxonomy| %>
					<% cache [I18n.locale, taxonomy, max_level] do %>

					<%= taxons_tree_products_list(taxonomy.root, @taxon) %>
					<% end %>
					<% end %>
					<% end %>
					<% if @products.present? %>
			<%= render :partial => 'spree/shared/search_filters' %>
			<%end%>
				</ul>
			</div>
			<div class="col-md-9">
				<% if params[:keywords] %>
				<div data-hook="search_results">

					<% if @products.empty? %>
					<h6 class="search-results-title min-product-height"><%= Spree.t(:no_products_found) %></h6>
					<% else %>
					<%= render :partial => "spree/shared/#{@selected_template.template_no}/products_search", :locals => { :products => @products, :taxon => @taxon } %>
					<% end %>
				</div>
				<%else%>
				<div class="products">

					<%
					paginated_products = @searcher.retrieve_products if params.key?(:keywords)
					paginated_products ||= products
					%>
					<% products.each do |product| %>
					<% url = product_path(product, :taxon_id => @taxon.try(:id)) %>
					<% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
					<div class="col-md-3 col-sm-6 col-xs-12 product">
						<div class="product-shoe">
							<% if product.images.count >= 1
								%>
								<% dimensions = FastImage.size(product.images.first.attachment.url(:original)) %>
								<% if dimensions %>
								<% if dimensions[0] >= 360 && dimensions[1] >= 360%>
								<a href="<%= url %>" itemprop="url"><img alt="<%= product.slug%>" class="img-responsive" itemprop="image" src="<%= product.images.first.attachment.url(:product)%>"></a>
								<% else %>
								<a href="<%= url %>" itemprop="url"><img alt="<%= product.slug%>" class="img-responsive" itemprop="image" src="<%= product.images.first.attachment.url(:original)%>"></a>
								<% end %>
								<% else %>
								<%= link_to product_image(product, :itemprop => "image", :class => "img-responsive"), url, :itemprop => 'url' %>
								<% end %>
								<% else %>
								<%= link_to product_image(product, :itemprop => "image", :class => "img-responsive"), url, :itemprop => 'url' %>
								<% end%>


							<%#= link_to product_image(product, :itemprop => "image", :class => "img-responsive center-block",:style=>"width:100%" ), url, :itemprop => 'url' %>
						</div>
						<div class="product-info">
							<div class="text-center sub-height-pro"><%= link_to truncate(product.name, :length => 18), url, :class => 'info', :itemprop => "name", :title => product.name %></div>
							<div class="price text-center">
							<%if product.subscription %> (Subscription Product) <% end %>
							<%= render :partial => "spree/shared/#{@selected_template.template_no}/show_price", :locals => { :p=> product} %></div>
							<div class="clear"></div>
							<%= link_to url, :class => "btn btn-primary add_to_cart cart_popup image-bottom center-block text-center", :remote => true, "data-toggle" => "modal", "data-target" => "#myModal", style: "" do %>
							<i class="fa fa-shopping-cart"></i> ADD TO CART
							<%end%>
							<div class="clear20"></div>
						</div>
					</div>
					<% end %>
					<% end %>
					<!-- end col-sm-3 -->
					<%= render :partial => "spree/shared/4/popup_modal" %>
					<%= render :partial => "spree/shared/4/compare_products_modal", :locals => { :products => @products} %>



				</div>






			</div>
		</div>
		<%end%>
		<% if paginated_products.respond_to?(:num_pages) %>
		<%= paginate paginated_products%>
		<% end %>
	</div>
</div>