<div class="portlet box blue">
   <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i> Update Page
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
 <%= form_for @cms_page , url: {action: "update"}, :html => { :multipart => true } do |f| %>
  <div class="form-body">
   <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Page Title *</label>
    <br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_meta_keywords" >
    <label for="store_name">Select Template</label>
    <br>
    <div class="field" tyle="border-radius: 3px; padding: 7px 10px; border: 1px solid #cee1f4; color: #5498da; font-size: 90%;" >
      <%= f.select :template_id, @templates, {}, { :class => 'form-control' } %>
    </div>
  </div>
  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Description</label>
    <br>
    <%= f.cktext_area :description, class: "form-control" %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">Set Page Order</label>
    <br>
    <%= f.text_field :sort, class: "form-control" %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_name" id="static-flag">
    <label for="store_name">Static</label>
    <br>
    <%= f.check_box :static_flag %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_name" id="cms-static-image" style="display:none;">
    <label for="store_name">Static</label>
    <br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_name" id="cms-static-image">
   <% if @cms_page.avatar.exists?(:home_image) %>
   <img src="<%= @cms_page.avatar.url(:home_image)%>" width="300" height="200">
   <% end %>
 </div>
 <div class="field" data-hook="admin_general_setting_input_name">
  <label for="store_name">Meta Tag</label>
  <br>
  <%= f.text_field :tag_list, class: "form-control" %>
</div>
<div class="field" data-hook="admin_general_setting_input_name">
  <label for="store_name">Meta Description</label>
  <br>
  <%= f.text_field :meta_description, class: "form-control" %>
</div>
  </div>
  <div class="form-buttons filter-actions actions form-actions" data-hook="buttons">
 <a class="btn blue " href="javascript:void(0)" onclick="window.history.back();"><span class="text" >Back</span></a>
 <span class="or">or</span>
 <button type="submit" class="btn blue"> Save</button>
</div>
 <% end %>
 </div>
 </div>
 <script type="text/javascript">
 $("#static-flag").click(function(){
    $("#cms-static-image").toggle("slow");
});
 $("#cms-static-image").toggle(this.checked);
 </script>