 <%= form_for @cms_page , url: {action: "update"} do |f| %>
  <div class="container">
    <div class="row">
      <div class="with-sidebar " >
        <div class="twelve columns"> <br>
          <form   method="post">
            <div>
             <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Page Title</label>
                <br>
                <%= f.text_field :title %>
              </div>
              <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Description</label>
                <br>
                <%= f.cktext_area :description %>
              </div>
               <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Meta Tag</label>
                <br>
                <%= f.text_field :meta_tags %>
              </div>
              <div class="field" data-hook="admin_general_setting_input_name">
                <label for="store_name">Meta Description</label>
                <br>
                <%= f.text_field :meta_description %>
              </div>
              <%= f.submit "Update"%>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 <% end %>
