<footer class="bottom-footer" role="contentinfo">
  <div class="container">
    <!-- end col-sm-3 -->
    
<!--     <div class="col-xs-12 col-sm-9">
      <nav>
        <ul class="nav navbar-nav">
          <li><a href="/">home</a></li>
          <li><a href="/page/<%= @about_page.first.try(:id)%>">about us</a></li>
          <li><a href="/products">service</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="/messages"> Contacts</a></li>
        </ul>
      </nav>
    </div> -->
    <!-- end col-sm-9 -->
    
    <div class="copyright col-xs-12 col-sm-7"> Copyright &copy; 2015  Red point commerce. </div>
    <!-- end copyright -->
    
    <div class="social-icon col-xs-12 col-sm-5">
      <ul>
        <li><a href=<%= @org.facebook_url || '#'%> target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href=<%= @org.twitter_url || '#'%> target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href=<%= @org.google_url || '#'%> target="_blank"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <!-- end social-icon --> 
    
  </div>
  <!-- end container --> 
  
</footer>

<!-- END FOOTER --> 

<!-- JQUERY --> 

<script src="/assets/<%= @selected_template.template_no%>/jquery.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/freetile.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/html5.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/jquery.js"></script> 


<script src="/assets/<%= @selected_template.template_no%>/analyticstracking.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/smoothscroll.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/jquery-ui.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/teamslider.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/swiper.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/isotope.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/verticalslider.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/ytplayer.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/timelinr.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/magnific-popup.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/counterup.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/waypoints.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/parallax.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/fittext.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/map.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/function.js"></script>