<footer id="main-footer" class="site-footer clearfix">
  <div class="container">
    <div class="row"> 
      
      <!--about widget-->
      <div class="col-md-3 col-sm-6">
        <section  class="widget animated widget-li">
          <h3 class="title"><img src="<%= Spree::Logo.last.avatar.url(:logo)%>"></h3>
          <div class="textwidget">
           <% if @about_widget && @about_widget.widget_characteristics %>
            <%= @about_widget.widget_characteristics.first(600).html_safe %>
           <% end %>
          </div>
        </section>
      </div>
      
      <!--general services-->
      <div class="col-md-3 col-sm-6">
        <section class="widget animated widget-li">
          <h4 class="title text-white">USEFUL LINK</h4>
          <ul>
           <% @static_pages.each  do |page|%>
                
                <li> <a href="/page/<%= page.id %>"> <%= page.title%> </a> </li>
                <% end %>
            <!-- <li> <a href="#">Immunization</a> </li>
            <li> <a href="#">Services</a> </li>
            <li> <a href="#">FAQ</a> </li>
            <li> <a href="#">Policy</a> </li>
            <li> <a href="#">About us</a> </li> -->
          </ul>
        </section>
      </div>
      <div class="clearfix visible-sm"></div>
      
      <!--recent posts-->
      <div class="col-md-3 col-sm-6">
        <section  class="widget animated widget-li">
          <h4 class="title text-white">GET INVOLVED</h4>
          <ul>
            <li> <a href="#">Hello world!</a> </li>
            <li> <a href="#">Image Post Format</a> </li>
            <li> <a href="#">Quote Post Format</a> </li>
            <li> <a href="#">Gallery Post Format</a> </li>
          </ul>
        </section>
      </div>
      <!--subscription form-->
      <div class="col-md-3 col-sm-6 widget-li">
        <section  class="widget animated ">
          <h4 class="title text-white">OPENING Hours</h4>
          <div class="textwidget">
          <% if @org.opening_day.present? %>
            <p><%= @org.opening_day  %> - <%= @org.closing_day %> </p>
            <% else %>
            <p> Monday - Sunday </p>
            <% end %>
            <% if @org.opening_hour.present? %>
            <p><%= @org.opening_hour %> - <%= @org.closing_hour%> </p>
             <% else %>
            <p> 11:00 am - 12:00 pm</p>
            <% end %>
          </div>
          <div> </div>
        </section>
      </div>
    </div>
    <div class="footer-bottom clearfix">
      <div class="row">
        <div class="col-sm-7">
          <p>&copy; Copyright 2015. All Rights Reserved </p>
        </div>
        <!--footer social icons-->
        <div class="col-sm-5 clearfix">
          <ul class="footer-social-nav">
          <%if @org.twitter_url!=""%>
            <li><a target="_blank" href=<%= @org.twitter_url || '#'%>><i class="fa fa-twitter"></i></a></li>
            <%end%>
            <%if @org.facebook_url!=""%>
            <li><a target="_blank" href=<%= @org.facebook_url || '#'%>><i class="fa fa-facebook"></i></a></li>
            <%end%>
            <%if @org.google_url!=""%>
            <li><a target="_blank" href=<%= @org.google_url || '#'%>><i class="fa fa-google-plus"></i></a></li>
            <%end%>
            <%if @org.youtube!=""%>
             <li><a target="_blank" href=<%= @org.youtube || '#'%>><i class="fa fa-youtube"></i></a></li>
             <%end%>
             <%if @org.linked_in!=""%>
           <li><a target="_blank" href=<%= @org.linked_in || '#'%>><i class="fa fa-linkedin"></i></a></li>
           <%end%>
            <%if @org.pinterest!=""%>
            <li><a target="_blank" href=<%= @org.pinterest || '#'%>><i class="fa fa-pinterest-square"></i></a></li>
            <%end%>
           <!--
            <li><a target="_blank" href="skype:skypeusername?add"><i class="fa fa-skype"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa fa-rss"></i></a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER --> 

<!-- JQUERY --> 

<script src="/assets/<%= @selected_template.template_no%>/jquery.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/freetile.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/html5.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/analyticstracking.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/smoothscroll.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/jquery-ui.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/teamslider.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/swiper.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/isotope.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/verticalslider.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/ytplayer.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/timelinr.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/magnific-popup.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/counterup.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/waypoints.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/parallax.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/fittext.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/map.js"></script> 
<script src="/assets/<%= @selected_template.template_no%>/function.js"></script>