<link rel="stylesheet" href="/assets/<%= @selected_template.template_no%>/background.css" />
<link rel="stylesheet" href="/assets/<%= @selected_template.template_no%>/slider.css" />
<!-- HEADER -->

<header class="front-header" >
  <div class="menu-open">
    <div class="fa fa-bars"></div>
  </div>
  <!-- end menu-open -->
  
  <div class="mobile-menu-wrap">
    <div class="fa fa-times menu-close"></div>
    <div class="col-xs-12">
      <nav class="mobile-menu">
        <ul class="mobile-ul">
          <li class="shopping-icon"> <a href="/cart"> <i class="fa fa-shopping-cart"></i> <span class="number-amount"><%= @order.try(:line_items)? @order.try(:line_items).count : 0 %></span> </a> </li>
          <li><a href="/">home</a></li>
          <li><a href="/page/<%= @about_page.first.try(:slug)%>">ABOUT US</a></li>
          <li><a href="/products"><%= @selected_template.product_tab ? @selected_template.product_tab.upcase : "SERVICES"  %></a></li>
          <li><a href="/contact-us"> CONTACT US</a></li>
           <% if spree_user_signed_in? %>
           <li> <%=  link_to 'Sign Out', spree_logout_path %></li>
          <% else %>
          <li><a href="/login">Login</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <!-- end mobile-menu-wrap -->
  <div class="header-color">
    <div class="menu-color" style="background-color: <%= header_color() %> !important;"> 
      <figure class="logo"> <a href="/" title="logo" rel="home"> <img alt="Atropos" src="<%= Spree::Logo.last.avatar.url(:logo) rescue '' %>"> </a>
       <span class="welcome-msg">Welcome to <%=@org.company_name rescue 'PSHQ'%></span>
       <div class=" nav-menu" style="float:right;">
        <%if @org.facebook_url!="" %>
        <a href=<%= @org.facebook_url|| '#'%> target="_blank"><img src="/assets/<%= @selected_template.template_no%>/social/f-icon.png"></a>
        <%end%>
        <%if @org.google_url!="" %>
         <a href=<%= @org.google_url|| '#'%> target="_blank"><img src="/assets/<%= @selected_template.template_no%>/social/g-icon.png"></a>
         <%end%> 
         <%if @org.twitter_url!="" %>
         <a href=<%= @org.twitter_url|| '#'%> target="_blank"><img src="/assets/<%= @selected_template.template_no%>/social/t-icon.png"></a>
         <%end%>
          </div>
    </div>
    <!-- end col-sm-3 -->
    
    <div class="container abc">
      <div class="col-md-12 nav-menu nav-align">
        <div class="col-md-1"></div>
        <div class="col-md-8">
        
       
        
          <center>
            <span class="menu-sep"><a class="active" href="/">Home</a> </span> 
            <span class="menu-sep"><a href="/products"><%= @selected_template.product_tab ? @selected_template.product_tab.upcase : "SERVICES"  %></a> </span>

             <% @customize_pages.each_with_index  do |page, index|%>
                <% if index >= 1 %>
                  <% if index == 1 %>
                  <span class="nav-menu pull-right" >
                    <ul class="nav navbar-nav" style="margin-top:0px;">
                      <li class="more-li">
                        <a class="more-color" href="#">
                          More <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                  <% end %>
                       <li class="menu-sep"><a href="/page/<%= page.slug rescue '' %>"><%= page.title.upcase%></a></li>
                  <% if index+1 == @customize_pages.length %>
                        </ul>
                      </li>
                    </ul>
                  </span>
                  <% end %>
                <% else %>
                  <span class="menu-sep"><a href="/page/<%= page.slug %>"> <%= page.title.upcase%></a></span>
                <% end %>
            <% end %>
            <span class="menu-sep"> <a href="/page/<%= @about_page.first.try(:slug)%>"> About Us </a></span>
            <span class="menu-sep"><a href="/contact-us"> Contact Us</a></span>
            <span class="menu-sep"><a href="/blog">Blog</a></span>
          </center>
        </div>
        
        <div class="col-md-3"> <span class="nav-menu" >
          <ul class="nav navbar-nav" style="margin-top:0px;">
          <% if spree_user_signed_in? %>
           <li> <%=  link_to 'Sign Out', spree_logout_path %></li>
          <% else %>
          <li><a href="/login">Login</a></li>
          <% end %>
            <li><a href="/cart"><i class="fa fa-shopping-cart"></i></a> <span class="number-amount"><%= @order.try(:line_items)? @order.try(:line_items).count : 0 %></span> </a>
            </li>
            <li><a href="#" type=button value='HIDE' id='tst'> <i class="fa fa-search"></i></a></li>
          </ul>
          </span> </div>
      </div>
    </div>
  </div>

  <!-- end container --> 
  
</header>

<!-- END HEADER --> 

<!-- FIXED HEADER -->

<header class="fixed-header">
  <div class="fixed-menu-cover">
    <div class="container">
      <div class="col-sm-2 col-md-1 col-lg-2">
        <figure class="logo"> <a href="/" title="logo" rel="home"> <img alt="Atropos" src="<%= Spree::Logo.last.avatar.url(:logo)%>" </a> </figure>
      </div>
      <!-- col-sm-3 -->
      
      <div class="col-sm-10 col-md-10 col-lg-10">
        <nav class="nav-menu">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/products"><%= @selected_template.product_tab.upcase ? @selected_template.product_tab : "Services"  %></a></li>
             <li><a href="/page/<%= @about_page.first.try(:slug)%>">ABOUT US</a></li>
            <li><a href="/contact-us"> Contact Us</a> </li>
             <% @customize_pages.each_with_index  do |page, index|%>
                <% if index >= 1 %>
                  <% if index == 1 %>
                   <li>
                     <a href="#" style="border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: transparent;">More</a>
                     <ul class="sub-menu" style="display: none;">
                  <% end %>
                        <li><a href="/page/<%= page.slug rescue '' %>"><%= page.title.upcase%></a></li>
                        <% if index == 2 %>
                        <li><a href="/blog">Blog</a></li>
                        <%end%>
                  <% if index+1 == @customize_pages.length %>
                      </ul>
                    </li>
                   
                  <% end %>
                <% else %>
                <li><a href="/page/<%= page.slug %>"><%= page.title.upcase%></a> </li>
                <% end %>
            <% end %>

            <li class="pull-right" style="margin-right:35px;" ><a href="/cart"><i class="fa fa-shopping-cart"></i></a> <span class="number-amount"><%= @order.try(:line_items)? @order.try(:line_items).count : 0 %></span> </a>
            </li>
            <% if spree_user_signed_in? %>
              <li> <%=  link_to 'Sign Out', spree_logout_path %></li>
            <% else %>
              <li><a href="/login">Login</a></li>
            <% end %>
            <li><a href="#" type=button value='HIDE' id='tst'> <i class="fa fa-search"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- end container --> 
    
  </div>
  <!-- end fixed-header-cover --> 
  
</header>

<!--END FIXED HEADER --> 

<!-- QUOTE -->
<script>
  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  // ga('create', 'UA-62198392-1', 'auto');
  // ga('send', 'pageview');

</script>

<div  class="law-search" id='fxm'>
<div class="container">

<table width="100%" border="0">
<tr>
  <%= form_tag spree.products_path, :method => :get do %>
    <th width="90%" >
  <%= search_field_tag :keywords, params[:keywords],:style=>"width: 100%;
padding-left: 20px;background: transparent;", placeholder: "Search"%>
</th>
<th>
<button type="submit" class="btn btn-primary search-button"><i class="fa fa-search"></i></button>
</th>
<% end %>
  </tr>

   
</table>
</div></div>
<style type="text/css">
  .welcome-msg { color : <%= header_font()%>;}
  .text-white, #main-footer, .footer-bottom p { color: <%= footer_font()%>;}
</style>
<script type="text/javascript">
$("#tst").click(function(){
    $("#fxm").toggle();
});
</script>