<div class="row">
<div class="col-md-9">
<% if products.any? %>
      <ul id="products" class="inline product-listing" data-hook>
        <% products.each do |product| %>
          <% url = product_path(product, :taxon_id => @taxon.try(:id)) %>
          <li id="product_<%= product.id %>" class="col-md-3 product new-width" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
            <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
              <div class="product-image">
                <%= link_to product_image(product, :itemprop => "image", :class => "image-100 responsive-height" ), url, :itemprop => 'url' %>
              </div>
              <%= link_to  url, :class => 'info', :itemprop => "name", :title => product.name do %><%=truncate(product.name, :length => 50) %><br><%if product.subscription %> (Subscription Product) <% end %> <% end %>
              <span class="price selling" itemprop="price"><%= render :partial => "spree/shared/#{@selected_template.template_no}/show_price", :locals => { :p=> product} %>
              </span>
            <% end %>
          </li>
        <% end %>
        <% reset_cycle("classes") %>
      </ul>
    <% end %>
            </div>
            </div>