
        <section class="container margintop">
          <div class="row">

            <div class="col-md-9">

              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div id="product-images" data-hook="product_images">
                    <div id="main-image" class="line-hat" data-hook>
                      <div class="product-image-wrapper">
                        <%= render :partial => 'image' %>
                      </div>
                    </div>
                    <div id="thumbnails" data-hook>
                      <%= render :partial => 'thumbnails' %>
                    </div>
                     <div data-hook="product_properties" class="details-titles">
                      <%= render :partial => 'properties' %>
                    </div>
                    <div data-hook="promotions">
                      <%= render :partial => 'promotions' %>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6">

                  <!-- product detail -->
                  

                    <!-- hidden fields -->
                    <input type="hidden" name="action" value="cart_add" />
                    <input type="hidden" name="product_id" value="1" />

                    <h2 class="product-title product-title-font"><%= @product.name%></h2>

                    <!-- product unique code -->
                    <span class="code">PART NUMBER: <%=@product.sku%></span>
                    <!-- /product unique code -->

                    <!-- product price -->
                    <!-- <div class="productRowInfo">
                      <span class="price styleSecondColor fsize20">$ --><%#=@product.price%></span>
                      <!-- <span class="oldprice">$43.00</span> -->
                  <!--   </div> -->
                    <!-- /product price -->

  <div id="cart-form" data-hook="cart_form">
              <%= render :partial => "spree/shared/#{@selected_template.template_no}/cart_form" %>
            </div>

                    <!-- product description -->
                    <div class="desc">
                      <h3 class="product-title-font product-page-margin">DESCRIPTION</h3>
                      <p>
                         <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
                      </p>
                    </div>
                    <!-- /product description -->

                    <div class="socialApis">
                      <h3 class="product-title-font product-page-margin">TELL TO YOUR FRIENDS</h3>

                      <!-- facebook -->
                      <div class="api">
                      

                   <div class="fb-like" data-href=<%=request.url%>  data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                      </div>
                      <!-- twitter -->
                      <div class="api">
                        <a href=<%=request.url%> class="twitter-share-button" data-lang="en">Tweet</a>
                      </div>

                      <!-- google plus -->
                      <div class="api">
                        <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>
                      </div>

                    </div>

   
                  <!-- product detail -->

                </div>
              </div>


            
            </div>

            <aside class="col-md-3">

              <h4>CATEGORIES</h4><!-- h3 - have no margin-top -->
              <ul class="nav nav-list">

                <% @product.taxons.each do |taxon| %>
        <li><%= link_to taxon.name, seo_url(taxon) %></li>
      <% end %>
              </ul>
            </aside>
            <div class="clear-fix"></div>
            <div class="col-md-12">
                <hr />
                 <!-- RELATED -->
    <h3><strong>Related</strong> Products</h3>
    <div class="row">
     <!-- item -->
     <%@simlier_product.each do |p|%>
     <div class="col-sm-6 col-md-3"><!-- item -->

       <% url = product_path(p) %>
       <div class="item-box">
          <!-- <img src="/assets/1.jpg" class = "img-responsive"> -->
          <%= link_to product_image(p, :itemprop => "image", :class => "img-responsive responsive-height",:style=>"max-width:100%;", rel: 'shadowbox' )%>

        <div class="item-box-desc">
          <h4><%=p.name%></h4> <%if p.subscription %> (Subscription Product) <% end %>
          <%= render :partial => "spree/shared/#{@selected_template.template_no}/show_price", :locals => { :p => p, } %>
        </div>
      </div>
    </div>
    <%end%>

    <!-- /RELATED -->
  </div>

            </div>
          </div>
        </section>
      </div>
    </div>
    