<div class="container top-space">
  <br>
<%
paginated_products = @searcher.retrieve_products if params.key?(:keywords)
paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>
  <div class="row">
    <div class="custom-alert alert-success" style="display: none;"> Successfully Added </div>
      <aside class="col-md-3">
      <button data-toggle = "modal" data-target = "#myModalcompare" class="btn btn-primary">Compare Products</button>
        <div class="col-sm-12 col-md-12 no-padding" >
          <%if Spree::Product.count>12 and params[:controller]=="spree/products" and !params[:keywords].present?%>
            <%if params[:page]%>
              <%show_arr=show_product_on_pages(params[:page],products.count)%>
              <p>Showing <%=show_arr[1]%>-<%=show_arr[0]%> of <%=show_arr[2]%> results.</p>
            <%else%>
              <p>Showing 1-<%=products.count%> of <%=Spree::Product.count.to_i%> results.</p>
              <%end%>
              <%end%>
            </div>

  <h3>CATEGORIES</h3><!-- h3 - have no margin-top -->
    <div class="category-new">

              <ul class="nav nav-list">

                <% if "spree/products" == params[:controller] && taxon %>
      <%= render :partial => 'spree/shared/filters' %>
    <% else %>
     <%#= render :partial => "spree/shared/#{@selected_template.template_no}/products_index" %>
     <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>


  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level] do %>
      <%= taxons_tree_products_list(taxonomy.root, @taxon) %>
    <% end %>
  <% end %>
    <% end %>
     </ul>
      </div>
     
     <% if @products.present? %>
     <%= render :partial => 'spree/shared/search_filters' %>
     <%end%>

</aside>
<div class="col-md-9">
  <% if params[:keywords] %>
    <div data-hook="search_results">
      <% if @products.empty? %>
        <h6 class="search-results-title min-product-height"><%= Spree.t(:no_products_found) %></h6>
      <% else %>
        <%= render :partial => "spree/shared/#{@selected_template.template_no}/products_search", :locals => { :products => @products, :taxon => @taxon } %>
      <% end %>
    </div>
  <% else %>
    <% if products.any? %>
      <ul id="products" class="inline product-listing" data-hook>
        <% products.each do |product| %>
          <% url = product_path(product, :taxon_id => @taxon.try(:id)) %>
          <li id="product_<%= product.id %>" class="col-md-3 product new-width" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
            <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
                    <div class="product-law">
              <% if product.images.count >= 1
                %>
                <% dimensions = FastImage.size(product.images.first.attachment.url(:original)) %>
                <% if dimensions %>
                <% if dimensions[0] >= 360 && dimensions[1] >= 360%>
                <a href="<%= url %>" itemprop="url"><img alt="<%= product.slug%>" class="img-responsive" itemprop="image" src="<%= product.images.first.attachment.url(:product)%>"></a>
                <% else %>
                <a href="<%= url %>" itemprop="url"><img alt="<%= product.slug%>" class="img-responsive" itemprop="image" src="<%= product.images.first.attachment.url(:original)%>"></a>
                <% end %>
                <% else %>
                <%= link_to product_image(product, :itemprop => "image", :class => "img-responsive"), url, :itemprop => 'url' %>
                <% end %>
                <% else %>
                <%= link_to product_image(product, :itemprop => "image", :class => "img-responsive"), url, :itemprop => 'url' %>
                <% end%>
            </div>
              <%= link_to  url, :class => 'info', :itemprop => "name", :title => product.name do %><%=truncate(product.name, :length => 50) %><br><%if product.subscription %> (Subscription Product) <% end %> <% end %>

              <span class="price selling" itemprop="price"> <%= render :partial => "spree/shared/#{@selected_template.template_no}/show_price", :locals => { :p=> product} %>
              </span>
            <% end %>
          </li>
        <% end %>
        <% reset_cycle("classes") %>
      </ul>
    <% end %>
  <% end %>
  <% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products%>
<% end %>
<%= render :partial => "spree/shared/4/compare_products_modal", :locals => { :products => @products} %>
</div>
</div>

</div>

