  <div class="portlet box blue">
   <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i> Manage Sections
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
  <%= form_tag( update_sections_admin_sections_path, method: "post") do %>
    <div class="form-body">
    <table class="ptable">
      <thead>
        <tr data-hook="promotion_email_header">
          <th>Section Name</th>
          <th class="align-center"> Manage Visibilty</th>
          <th data-hook="admin_products_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>              
        <% @sections.each do |section|%>
        <tr data-hook="reports_row">
          <td class="align-center inline-name" id ="<%=section.id%>" >
          <div class="show_section" >
          <%= section.name %>
          </div>
          <div class="hide_section" style="display:none">
              <input type="text" name="section_name" value="<%= section.name %>" id ="hide_<%=section.id.to_s%>" onchange="section_name_update( this, <%=section.id%> );" >
          </div>
          </td>
          </div>
          <td style="padding-left:3em; width:30% "> <%= check_box_tag "sections[]", section.name, section.visible %></td>
           <td class="actions" data-hook="admin_products_index_row_actions">
            <%= link_to '', edit_admin_section_path(section), class: "edit fa fa-edit icon_link with-tip no-text", "data-action" => "edit"%> 
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
         <div class="form-buttons filter-actions actions form-actions" data-hook="buttons">
       
       <a class="btn blue" href="javascript:void(0)" onclick="window.history.back();"><span class="text white_color">Back</span></a>
       
       <span class="or">or</span>
       <button type="submit" class="btn blue">Update</button>
     </div>
   <%end%>
  </div>
</div>
