
<% content_for :page_title do %>
   <i class="fa fa-arrow-right"></i> <%= Spree.t(:adjustments) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to new_admin_order_adjustment_url(@order), class: "btn blue" do %>
  <i class="fa fa-plus"></i>  <%= Spree.t(:new_adjustment) %><% end %></li>
  <li><%= link_to admin_orders_path, class: "btn blue"  do %>
  <i class="fa fa-arrow-left"></i> <%= Spree.t(:back_to_orders_list)%><% end %></li>
<% end %>
<div class="col-md-9">
<%= render :partial => 'adjustments_table' %>

<% if @order.can_add_coupon? %>
  <div data-hook="adjustments_new_coupon_code">
    <%= text_field_tag "coupon_code", "", :placeholder => Spree.t(:coupon_code) %>
    <%= button Spree.t(:add_coupon_code), 'plus', 'submit', :id => "add_coupon_code" %>
  </div>
<% end %>
</div>
<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Adjustments' } %>

<%= javascript_tag do -%>
  var order_number = '<%= @order.number %>';
<% end -%>
