<% content_for :page_title do %>
  <%= Spree.t(:option_types) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_ot_link">
    <%= link_to new_admin_option_type_url, { :remote => true, :icon => 'plus', :id => 'new_option_type_link', class: "btn blue" } do %> <i class="fa fa-plus"></i><%= Spree.t(:new_option_type) %> <% end %>
  </li>
<% end %>

<%#= render :partial => 'spree/admin/shared/product_sub_menu' %>
<div class="col-md-12">
  <div id="new_option_type"></div>

  <% if @option_types.any? %>
  <div class="portlet box blue">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-cogs"></i>Option Types
      </div>
      <div class="tools">
        <a href="javascript:;" class="collapse" data-original-title="" title="">
        </a>
      </div>
    </div>
    <div class="portlet-body flip-scroll">
      <table class="table table-bordered table-striped table-condensed flip-content">
        <thead class="flip-content">
         <tr data-hook="option_header">
        <th class="no-border"></th>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:presentation) %></th>
        <th class="actions"></th>
      </tr>
        </thead>
        <tbody>
            <% @option_types.each do |option_type| %>
        <tr class="spree_option_type <%= cycle('odd', 'even')%>" id="<%= spree_dom_id option_type %>" data-hook="option_row">
          <td class="no-border"><span class="handle"></span></td>
          <td class="align-center"><%= option_type.name %></td>
          <td class="align-center presentation"><%= option_type.presentation %></td>
          <td class="actions">
            <%= link_to_edit(option_type, :class => 'admin_edit_option_type', :no_text => true) %>
            <%= link_to_delete(option_type, :no_text => true) %>
          </td>
        </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
    <div class="alpha twelve columns no-objects-found">
      <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/option_type')) %>,
      <%= link_to Spree.t(:add_one), spree.new_admin_option_type_path %>!
    </div>
  <% end %>
</div>
