 <div class="portlet box blue col-md-12">
   <div class="portlet-title">
    <div class="caption">
       <%= Spree.t(:new_image) %>
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
<%= form_for [:admin, @product, @image], :html => { :multipart => true } do |f| %>
  <div data-hook="new_image" class="form-body">

      <%= render :partial => 'form', :locals => { :f => f } %>
  </div>
    
      <div class="form-buttons filter-actions actions form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'refresh' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_product_images_url(@product), :id => 'cancel_link', :class => 'button' %>
      </div>
<% end %>

<%#= javascript_include_tag 'spree/backend/images/new.js' %>