 <div class="col-md-3">
    <ul class="ver-inline-menu tabbable margin-bottom-10">
      <li class="<%= is_active?('/admin/templates') %>">
        <a href="/admin/templates" aria-expanded="true">
         <i class="fa fa-book"></i>
          Templates
       </a>
       <span class="after">
        </span>
     </li>
      <li class="<%= is_active?("/admin/templates/#{@selected_template.id}/edit") %>">
        <a href="/admin/templates/<%=@selected_template.id%>/edit" aria-expanded="true">
         <i class="fa fa-book"></i>
          Themes
       </a>
       <span class="after">
        </span>
     </li>
     <li class="<%= is_active?('/admin/slider_images') %>">
        <a href="/admin/slider_images" aria-expanded="true">
         <i class="fa fa-book"></i>
          Slider Images
       </a>
       <span class="after">
        </span>
     </li>
      <li class="<%= is_active?(new_admin_template_image_path) %>">
        <a href="<%= new_admin_template_image_path %>" aria-expanded="true">
         <i class="fa fa-book"></i>
          Template Images
       </a>
       <span class="after">
        </span>
     </li>
        <li class="<%= is_active?('/admin/components') %>">
        <a href="/admin/components" aria-expanded="true">
         <i class="fa fa-book"></i>
          Custom Theming
       </a>
       <span class="after">
        </span>
     </li>
</ul>
  </div>
