<% content_for :page_title do %>
  Themes
<% end %>
<div class="col-md-9">
  <div class="portlet box blue">
   <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i> Select Theme
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
   <%= form_for(@template,url:  admin_template_path) do |f| %>
   <div class="form-body">
   <div class="row">
    <div class="col-md-6" style="text-align:center;">
      <img src="/assets/<%= @template.template_no%>/a.jpg" class=""> 

    </div>
    <div class="col-md-6">
      <p>
      </p><h3><%= @template.name %></h3>
      <%unless @template.name == "Ware house" %>
      <fieldset class="currency no-border-bottom">
        <legend align="center">Color Themes</legend>

        <div class="field" data-hook="admin_general_setting_input_meta_keywords">


          <div class="field" >
            <%= f.select :theme_color, @template.themes.collect {|p| [ p.name, p.name ] }, {}, {:prompt => 'Select One' , :class => 'form-control'}
            %>
          </div>


        </div>
      </fieldset>
      <fieldset class="currency no-border-bottom template_variant_display">
        <legend align="center">Variant Display Formate</legend>

        <div class="field" data-hook="admin_general_setting_input_meta_keywords">


          <div class="field" >
         <%= f.label 'variant_display_type', 'Drop Down' %>
          <%= f.radio_button :variant_display_type, :true,class: "form-control"%>
          </div>
          <div class="field" >
          <%= f.label 'variant_display_type', 'Radio Button' %>
           <%= f.radio_button :variant_display_type, false,class: "form-control" %>
            </div>

        </div>
      </fieldset>
         <fieldset class="currency no-border-bottom">
        <legend align="center">Custom Theme</legend>

        <div class="field" data-hook="admin_general_setting_input_meta_keywords">


          <div class="field" >
          <label>Allow</label>
          <%= f.check_box :is_allowed_custom_theme, class: "form-control"%>
          </div>


        </div>
      </fieldset>
 </div>
 </div>
   </div>
      <%end%>
        <div class="form-buttons filter-actions actions form-actions" data-hook="buttons">
         <a class="btn blue" href="/admin/templates"><span class="text white_color">Back</span></a>

         <span class="or">or</span>
         <button type="submit" class="btn blue">Save</button>
       </div>

 <%end%> 
</div>
</div>
</div>
       <%=render :partial=>'/spree/admin/templates/side_bar_template'%>
    


