<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>
<%= render :partial => "spree/admin/variants/autocomplete_stock", :formats => :js %>

<div id="add-line-item" data-hook class="portlet box blue">
<div class="portlet-title">
   <div class="caption">
    <i class="fa fa-gift"></i><%= Spree.t(:add_product) %>
  </div>
  <div class="tools">
    <a href="" class="collapse" data-original-title="" title="">
    </a>
  </div>
</div>
<div class="portlet-body form">
    <div data-hook="add_product_name" class="form-body">
      <%= label_tag :add_variant_id, Spree.t(:name_or_sku) %>
      <%= hidden_field_tag :add_variant_id, "", :class => "variant_autocomplete form-control" %>
    </div>
</div>

  <div id="stock_details" class="portlet-body flip-scroll"></div>
</div>
