<% content_for :page_actions do %>
  <% if can?(:fire, @order) %>
    <li><%= event_links %></li>
  <% end %>
  <% if can?(:resend, @order) %>
    <li><%= link_to resend_admin_order_url(@order), method: :post ,id: "padding-admin-buttons", class: "btn blue" do %><i class="fa fa-email"></i><%= Spree.t(:resend)%> <% end %> </li>
  <% end %>
  <% if can?(:admin, Spree::Order) %>
    <li><%= link_to admin_orders_path, class: "btn blue",
          id: "padding-admin-buttons" do %> <i class="fa fa-arrow-left"></i> <%= Spree.t(:back_to_orders_list)%> <% end %> </li>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-9">
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-cogs"></i>Histiry
    </div>
    <div class="tools">
      <a href="javascript:;" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body flip-scroll">
    <table class="table table-bordered table-striped table-condensed flip-content">
      <thead class="flip-content">
        <tr data-hook="admin_products_index_headers">
          <th class="align-center">Created at</th>
          <th class="align-center">Event</th>
          <th class="align-center">More Info</th>
          <th class="align-center">who made</th>
        </tr>
      </thead>
      <tbody>
        <% @versions.each do |v| %>
        <tr id="" data-hook="admin_products_index_rows" class="odd">
          <td class="align-center"><%=v.created_at %></td>
          <td class="align-center"><%= v.object_changes%></td>
          <td class="align-center"><%= v.changeset%></td>
          <td class="align-center"><%= v.whodunnit rescue ''%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
<div class="col-md-9">
<div data-hook="admin_order_edit_header">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
</div>

<% if @order.payments.exists? && @order.considered_risky? %>
  <%= render 'spree/admin/orders/risk_analysis', latest_payment: @order.payments.valid.last %>
<% end %>

<%= render partial: 'add_product' if @order.shipment_state != 'shipped' && can?(:update, @order) %>

<% if @order.line_items.empty? %>
  <div class="no-objects-found">
    <%= Spree.t(:your_order_is_empty_add_product)%>
  </div>
<% end %>

<div data-hook="admin_order_edit_form">
  <div id="order-form-wrapper">
    <%= render partial: 'form', locals: { order: @order } %>
  </div>
</div>
</div>
<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Shipments' } %>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>
