<link href="/assets/<%= @selected_template.template_no%>/main.css" rel="stylesheet">
<div style="clear:both;"></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel"  style="padding-top: 0px !imporatant;">

 <!-- Indicators -->
 <ol class="carousel-indicators">
   <%@selected_template.spree_slider_images.each_with_index do |image,index| %>
   <% if index == 0 %>

   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
   <%else%>
   <li data-target="#myCarousel" data-slide-to=<%=index%>></li>

   <%end%>
   <%end%>
 </ol>
 <!-- Wrapper for slides -->
 <div class="carousel-inner" role="listbox">
  <%if @selected_template.spree_slider_images.length> 0 %>
  <div class="item active">

    <img src="/assets/default-sliders/1.jpg" width="1400" height="500" alt="">
  </div>
  <div class="item ">
    <img src="/assets/default-sliders/2.jpg" alt="" width="1400" height="500">
  </div>
  <div class="item ">
    <img src="/assets/default-sliders/3.jpg" alt="" width="1400" height="500">
  </div>
  <div class="item ">
    <img src="/assets/default-sliders/4.jpg" alt="" width="1400" height="500">
  </div>
  
  <%else%>
  <%@selected_template.spree_slider_images.each_with_index do |image,index| %>
  <% if index == 0 %>

  <div class="item active">
 
    <div class="banner-text-common">
      <div class="carousel-caption1">
       <p><%=image.try(:overlay_text)%></a></p>
     </div>
   </div>

    <a href="<%=image.try(:link_to_page)%>">
   <img src="<%= image.slider_image.url(:xxlarge)%>" alt="Slider", class = "img_slider_width">


</a>
 </div>
 <%else%>

 <div class="item ">
  <div class="banner-text-common">
    <div class="carousel-caption1">
     <p><%=image.try(:overlay_text)%></p>
   </div>
 </div>
 <a href="<%=image.try(:link_to_page)%>">
 <img src="<%= image.slider_image.url(:xxlarge)%>" alt="Slider", class = "img_slider_width">
</a>
</div>
<%end%>

<%end%> 
<%end%>
</div>


<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
<div class="body-container">
  <div class="error-messages">
    <%= flash_messages %>
  </div>
  


      <!-- ============================================== SCROLL TABS ============================================== -->
      <div id="product-tabs-slider" class="scroll-tabs wow ">
        <div class="clearfix"></div>
        <div class="wide-banners" style="display: <%= is_visible('section_1')%>">
          <div class="row">
           <% if @selected_template.template_images.first  %>
           <div class="col-md-4">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img data-echo="<%= @selected_template.template_images.first.avatar.url(:home_image) rescue ''%>"  alt="">
              </div>  
              <div class="strip strip-no-bg">
                <div class="strip-inner">
                  <h5>NEW Warehouse</h5>
                  <h2>Warehouse</h2>
                </div>  
              </div>
            </div><!-- /.wide-banner-->
          </div><!-- /.col -->

          <div class="col-md-4">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img data-echo="<%= @selected_template.template_images.second.avatar.url(:home_image ) rescue ''%>"  alt="">
              </div>  
              <div class="strip strip-no-bg strip-right-left">
                <div class="strip-inner">
                  <h5>Warehouse</h5>
                  <h2>Warehouse</h2>
                </div>  
              </div>
            </div><!-- /.wide-banner-->
          </div><!-- /.col -->
          <div class="col-md-4">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img data-echo="<%= @selected_template.template_images.third.avatar.url(:home_image) rescue ''%>"  alt="">
              </div>  
              <div class="strip strip-no-bg strip-right-left">
                <div class="strip-inner">
                  <h5>Warehouse</h5>
                  <h2>Warehouse</h2>
                </div>  
              </div>
            </div>
          </div><!-- /.col -->
          <% else %>
          <div class="col-md-4">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img data-echo="/assets/banners/4.jpg"  alt="">
              </div>	
              <div class="strip strip-no-bg">
                <div class="strip-inner">
                  <h5>NEW Warehouse</h5>
                  <h2>Warehouse</h2>
                </div>	
              </div>
            </div><!-- /.wide-banner-->
          </div><!-- /.col -->

          <div class="col-md-8">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img data-echo="/assets/banners/5.jpg"  alt="">
              </div>	
              <div class="strip strip-no-bg strip-right-left">
                <div class="strip-inner">
                  <h5>Warehouse</h5>
                  <h2>Warehouse</h2>
                </div>	
              </div>
            </div><!-- /.wide-banner-->
          </div><!-- /.col -->
          <% end %>
        </div><!-- /.row -->
      </div><!-- /.wide-banners -->

      <section class="section" style="display: <%= is_visible('section_2')%>">
        <h3 class="section-title" style="margin-left: 24px;"><%=section_name("section_2") rescue 'Products'%></h3>
        <div class="product-grid" id="products-gallery">
          <%= render :partial => "spree/shared/#{@selected_template.template_no}/products", :locals => { :products => @products } %>
        </div><!-- /.product-grid -->
      </section><!-- /.section -->

      <section style="display: <%= is_visible('section_2')%>">
        <%= render :partial => "/spree/home/1/widgets", :locals => { :recommended_products => recommended_products,:best_selling_products => best_selling_products, :taxon => @taxon } %>
      </section>

    </div><!-- /.container -->
 
  <script type="text/javascript">
    (function() {
      $('.cat123').first().click();
      $('.cat123').first().parent().addClass('active');

      $(".cat123").click(function() {
        $(".cat123").parent().removeClass('active');
        $(this).parent().addClass('active');
      });
    })();


    <%#*function catClicked() {%>
      <%#*$('.cat123').last().parent().addClass('active');%>
      <%#*}%>
    </script>