<%=render :partial=>'promotion_emails_nav'%>
<div class="container">
  <div class="row">
    <div class="with-sidebar " >
      <div class="twelve columns"> <br>
        <div class="row">
        <br>
        <br>
          <table class="index" id="listing_products">
            <colgroup>
              <col style="width: 50%;">
            </colgroup>
            <thead>
              <tr data-hook="admin_products_index_headers">
                <th>Title</th>
                <th data-hook="admin_products_index_header_actions" class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <%@promotion_emails.each do |emailtmp| %>
                <tr id="spree_product_7" data-hook="admin_products_index_rows" class="odd">
                  <td class="align-center"><%= emailtmp.title %></td>
                  <td class="actions" data-hook="admin_products_index_row_actions">
                    <%= link_to '', edit_admin_promotion_email_path(emailtmp), class: "edit fa fa-edit icon_link with-tip no-text", "data-action" => "edit"%>
                 <!--    <button name="button" class="fa fa-email button">Resend</button>  -->
                    <%= link_to '', admin_promotion_email_path(emailtmp), method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash icon_link with-tip no-text", "data-action" => "remove" %>
                    <%= link_to '', select_user_admin_promotion_email_path(emailtmp), class: "fa fa-envelope icon_link with-tip no-text"%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
