    <%=render :partial=>'promotion_emails_nav'%>
    <div class="portlet box blue">
 <div class="portlet-title">
  <div class="caption">
    <i class="fa fa-gift"></i> Select User
  </div>
  <div class="tools">
    <a href="" class="collapse" data-original-title="" title="">
    </a>
  </div>
</div>
<div class="portlet-body form">
    <%= form_tag(send_emails_admin_promotion_email_path, method: "get") do %>
    <div class="form-body">
    <table class="ptable">
      <thead>
        <tr data-hook="promotion_email_header">
          <th><%= Spree.t(:Email) %></th>
          <th class="align-center"><input type="checkbox" onClick="select_all(this)" /><%= Spree.t(:select_all) %></th>
        </tr>
      </thead>
      <tbody>              
        <% @users.each do |user|%>
        <tr data-hook="reports_row">
          <td class="align-center"><%= user.subcription_email %></td>
          <td style="padding-left:3em; width:30% "> <%= check_box_tag "emails[]", user.subcription_email, user.subcription_email, id: "user_#{user.subcription_email}" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
         <div class="form-buttons filter-actions actions form-actions" data-hook="buttons">
       
       <a class="btn blue" href="javascript:void(0)" onclick="window.history.back();"><span class="text white_color">Back</span></a>
       
       <span class="or">or</span>
       <button type="submit" class="btn blue">Send Email</button>
     </div>

   </fieldset>
   <%end%>
   </div>
   </div>
   <script type="text/javascript">
    $(document).ready(function(){
     $(':checkbox').attr('checked',true);
   });
    function select_all(source) {
      checkboxes = document.getElementsByName('emails[]');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>
