<header class="header-style-1">
<%#*<header id="header" class="row" data-hook >%>
<%#*<div style="margin: 40px;">%>
<%#*<figure id="logo" class="columns six" data-hook><%= logo %>
<%#*</figure>%>
<%#= render :partial => 'spree/shared/nav_bar' %>
<%#= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
<%#*</div>%>
<%#*</header>%>

  <!-- ============================================== TOP MENU ============================================== -->
  <div class="header-top animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
         Welcome to <%=@org.company_name rescue 'PSHQ'%>
        </div><!-- /.cnt-account -->

        <div class="cnt-cart">
          <ul class="list-unstyled list-inline pull-right">
            <li class="dropdown dropdown-small">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;</a>
            </li>

            <li class="dropdown dropdown-small">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;</a>
            </li>
            <li class="dropdown dropdown-cart">
<%#*<a href="#" class="dropdown-toggle lnk-cart btn btn-blue btn-small" data-toggle="dropdown">Cart 02</a>%>

              <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>

              <div class="clearfix"></div>
            </li><!-- /.dropdown-cart -->
          </ul><!-- /.list-unstyled -->
          <ul class="list-unstyled list-inline pull-right">
            <li><a href="/checkout">Checkout</a></li>
            <% if spree_user_signed_in? %>
            <li><a href="/account">My Account</a></li>
            <li> <%=  link_to 'Sign Out', spree_logout_path %></li>
            <% else %>
            <li><a href="/login">Login</a></li>
            <% end %>
          </ul>
        </div><!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div><!-- /.header-top-inner -->
    </div><!-- /.container -->
  </div><!-- /.header-top -->
  <!-- ============================================== TOP MENU : END ============================================== -->
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown home">
    <div class="yamm navbar navbar-default" role="navigation">
      <div class="container-class container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <div class="logo">
              <img src="<%= Spree::Logo.last.avatar.url(:logo)%>" class="img-responsive"> 
            </div>	
          </a><!-- /.navbar-brand -->
          <div class="clearfix"></div>
        </div><!-- /.navbar-header-->
        <div class="nav-bg-class no-nav-bg">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
             <li>
                <a href="/" class="dropdown-toggle" >Home</a>
              </li>
              <li class="">
                
                <a href="/products" class="dropdown-toggle" ><%= @selected_template.product_tab ? @selected_template.product_tab : "Products"  %></a>

              </li>
              
            <% @customize_pages.each_with_index do |page, index|%>
             <% if index >= 0 %>
                  <% if index == 0 %>
                    <li class="dropdown dropdown-small ware-house-dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          More 
                          <b class="caret">
                            
                          </b>
                      </a>
                      <ul class="dropdown-menu">
                  <% end %>
                        <li><a href="/page/<%= page.id %>"><%= page.title%></a></li>
                        <li >  <a href="/blog"  >Blog</a></li>
                  <% if index+1 == @customize_pages.length %>
                      </ul>
                    </li>
                  <% end %>
                <% else %>
                <li class=""> <a href="/page/<%= page.id %>"> <%= page.title%> </a> </li>
              <%end%>
            <% end %>
         <!--    <li class="">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
              <ul class="dropdown-menu">
               <li><a href="#">Link1</a></li>
               <li><a href="#">Link2</a></li>
               <li><a href="#">Link3</a></li>
              </ul>
             </li> -->
            <li class="mega-menu-item mega-menu-two-columns"> <a href="/page/<%= @about_page.first.try(:id)%>"> About Us </a> </li>
              <li class="">
                <a href="/contact-us" class="dropdown-toggle" >Contact Us</a>
              </li>
              

<%#*<li class="dropdown yamm-fw ">%>
<%#*<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Living Rooms</a>%>

<%#*</li>%>

<%#*<li class="dropdown">%>
<%#*<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"> Bedrooms Dining</a>%>

<%#*</li>%>
<%#*<li class="dropdown">%>
<%#*<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Rooms Mattresses</a>%>

<%#*</li>%>


            </ul><!-- /.navbar-nav -->
            <div class="nav-outer">
              <div class="cnt-search">

                <div>
                  <%= render :partial => 'spree/shared/nav_bar' %>
<%#*<input type="text" class="form-control" placeholder="Search here...">%>
<%#*<span class="input-group-btn">%>
<%#*<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>%>
<%#*</span>%>
                </div>
              </div><!-- /.cnt-search -->
              <div class="clearfix"></div>				
            </div><!-- /.nav-outer -->
          </div>

        </div><!-- /.nav-bg-class -->

      </div><!-- /.container-class -->
    </div><!-- /.navbar-default -->
  </div><!-- /.header-nav -->
  <!-- ============================================== NAVBAR : END ============================================== -->

</header>

