<%
paginated_products = @searcher.retrieve_products if params.key?(:keywords)
paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
  <div data-hook="products_search_results_heading_no_results_found" class="min-product-height">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>


<div class="container">
<div class="row">

<% if products.any? %>
 <% products.each do |product| %>
 <% url = product_path(product, :taxon_id => @taxon.try(:id)) %>
<div class="col-md-3 col-sm-6">
      <div class="product">
      <% if product.images.count >= 1
        %>
      <% dimensions = FastImage.size(product.images.first.attachment.url(:original)) %>
      <% if dimensions %>
          <% if dimensions[0] >= 360 && dimensions[1] >= 360%>
        <a href="<%= url %>" itemprop="url"><img alt="<%= product.slug%>" class="img-responsive" itemprop="image" src="<%= product.images.first.attachment.url(:product)%>"></a>
        <% else %>
          <a href="<%= url %>" itemprop="url"><img alt="<%= product.slug%>" class="img-responsive" itemprop="image" src="<%= product.images.first.attachment.url(:original)%>"></a>
        <% end %>
        <% else %>
               <%= link_to product_image(product, :itemprop => "image", :class => "img-responsive" ), url, :itemprop => 'url' %>
        <% end %>
      <% else %>
           <%= link_to product_image(product, :itemprop => "image", :class => "img-responsive" ), url, :itemprop => 'url' %>
      <% end%>
   
      <!-- <a href="#">
                  <img src="http://s3.amazonaws.com/redpoint-commerce/spree/spree/images/40/product/3.jpg?1444407037" class="img-responsive">
                  </a> -->
            </div>
            <div class="details">
              <div class="name"> <%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %></div>
                <div class="description"><span class="price selling" itemprop="price"><%= render :partial => "spree/shared/#{@selected_template.template_no}/show_price", :locals => { :p=> product} %>
          </span> <%if product.subscription %><span class="price selling" itemprop="price"> (Subscription Product)</span> <% end %></div>
            </div>
</div>
<%end%>
<%end%>


</div>
</div>


<div style="clear:both"></div>




<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products%>
<% end %>
