<div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-top: 0px !imporatant;">
  <!-- Indicators -->
  
 <!-- Indicators -->
  <ol class="carousel-indicators">
   <%@selected_template.spree_slider_images.each_with_index do |image,index| %>
   <% if index == 0 %>
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <%else%>
     <li data-target="#myCarousel" data-slide-to=<%=index%>></li>
   <%end%>
   <%end%>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <%@selected_template.spree_slider_images.each_with_index do |image,index| %>
   <% if index == 0 %>
    <div class="item active">
      <img src="<%= image.slider_image.url(:xlarge)%>" alt="Chania">
    </div>
    <%else%>
      <div class="item ">
      <img src="<%= image.slider_image.url(:xlarge)%>" alt="Chania">
    </div>
    <%end%>

     <%end%> 
  </div>


  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    
   
    
    <!-- FEATURED BOXES 3 -->
    <% data_pages = [{:img => "eye"}, 
             {:img => "gal"}, 
             {:img => "cal"}, 
             {:img => "emo"}] %>
    <section class="container topHead-">
      <div class="row">
        <% @static_pages.each_with_index do |page, index|%>
        <div class="col-md-3">
        <div class="featured-box nobg border-only border-dot">
            <div class="box-content"> <img width="56" height="40" src="assets/2/icon/<%=  data_pages[index][:img] %>.png">
              <h4><%= page.title %></h4>
              <hr>
              <p class="center"> <%= truncate(strip_tags(page.description.html_safe), length: 50) %> </p>
              <span class="pink-text"><a href="/page/<%= page.id%>">Read More...</a></span> </div>
          </div>
        </div>
        <% end %>
        <!--   <div class="featured-box nobg border-only border-dot">
            <div class="box-content"> <img width="56" height="40" src="assets/2/icon/eye.png">
              <h4>Unique Design</h4>
              <hr>
              <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="pink-text"><a href="#">Read More...</a></span> </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box nobg border-only left-separator border-dot"> <img width="56" height="40" src="assets/2/icon/gal.png">
            <h4>Photo Gallery</h4>
            <hr>
            <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="pink-text"><a href="#">Read More...</a></span> </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box nobg border-only left-separator border-dot"> <img width="56" height="40" src="assets/2/icon/cal.png">
            <h4>Appointment System</h4>
            <hr>
            <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="pink-text"><a href="#">Read More...</a></span> </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box nobg border-only left-separator border-dot"> <img width="56" height="40" src="assets/2/icon/emo.png">
            <h4>Customer Service Page</h4>
            <hr>
            <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="pink-text"><a href="#">Read More...</a></span> </div>
        </div> -->
      </div>
    </section>
    <!-- /FEATURED BOXES 3 -->
    
    <div class="container">
      <hr class="no-lines">
      <!-- hr line --> 
    </div>
    
    <!-- CAROUSEL -->
    <section style="margin-top:5%" class="container">
      <div class="row">
        <h3 class="text-center">Our Most Popular Services</h3>
        <hr>
          <%= render :partial => "/spree/shared/#{@selected_template.template_no}/products", :locals => { :products => @products, :taxon => @taxon } %>
  
      </div>
    </section>
    <section style="margin-top:5%" class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class=" border-footer">
            <div class="col-lg-9"> <span style="">
              <h4>We are waiting for you. Please make an Appointment here</h4>
              </span></div>
            <div style="text-align:right" class="col-lg-3 pull-right"><a href="#" class="btn btn-primary btn-lg">Appointment</a></div>
          </div>
        </div>
      </div>
    </section>
  </div>