<%= form_for(@theme,url:  admin_theme_path, multipart: true) do |f| %>
  <% if @theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
      <% @theme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
      <% end %>
<!-- 
    <%= f.radio_button :selected_theme, 'default' %> 
  <%= f.label :selected_theme, 'default', :value => 'default' %>
  <%= f.radio_button :selected_theme, '1' %>
  <%= f.label :selected_theme, 'blue', :value => '1' %>
  <%= f.radio_button :selected_theme, '2' %>
  <%= f.label :selected_theme, 'red', :value => '2' %>
  <%= f.radio_button :selected_theme, '3' %>
  <%= f.label :selected_theme, 'white', :value => '3' %> -->
    <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
