<div class="col-md-9">
<div class="portlet box blue col-md-12">
 <div class="portlet-title">
  <div class="caption">
    <i class="fa fa-gift"></i> Logo
  </div>
  <div class="tools">
    <a href="" class="collapse" data-original-title="" title="">
    </a>
  </div>
</div>
<div class="portlet-body form">

  <%= form_for(@logo, url: admin_logo_path(@logo), multipart: true) do |f| %>
  <div class="form-body">
    <div data-hook="file" class="field">
      <h3 class="form-section">Upload Logo</h3>

      <br />
      <%= f.label :avatar,'Select Images' %>
      <%= f.file_field :avatar,:required => true, :accept=>"image/*" %>
      <br><small> <p>Please upload image of size approx. 240x75</p> </small>


      <!-- <input id="image_attachment" name="image[attachment]" type="file"> -->
    </div>
    <h3>Current Logo</h3>
    <img src="<%= Spree::Logo.last.avatar.url(:logo)%>">
  </div>
  <div class="form-actions">
    <%= f.submit "Save" %>
  </div>
  <% end %>
  </div>
  </div>
  <div class="portlet box blue col-md-12">
 <div class="portlet-title">
  <div class="caption">
    <i class="fa fa-gift"></i> Favicon
  </div>
  <div class="tools">
    <a href="" class="collapse" data-original-title="" title="">
    </a>
  </div>
</div>
<div class="portlet-body form">
  <%= form_for( @favicon,url:  admin_favicon_path(@favicon), multipart: true) do |f| %>
  <div class="form-body">
    <div data-hook="file" class="field">
      <h3 class="form-section">Upload Favicon</h3>

      <br />
      <%= f.label :favicon_image,'Select an Image' %>
      <%= f.file_field :favicon_image,:required => true, :accept=>"mage/x-png, image/gif, image/jpeg , image/jpg,image/png" %>
      <br><small> <p>Please upload image of size approx. 16x16</p> </small>
      <!-- <input id="image_attachment" name="image[attachment]" type="file"> -->
    </div>
    <h3>Current Favicon</h3>
    <img src="<%= Spree::Favicon.last.favicon_image.url(:logo)%>">
  </div>
  <div class="form-actions">
    <%= f.submit "Save" %>
  </div>
  <% end %>
</div>
</div>
</div>
<div class="col-md-3">
  <div class="">
    <ul class="ver-inline-menu tabbable margin-bottom-10">
      <li class="<%= is_active?("/admin/organizations/#{Spree::Organization.first.id}/edit") %>">
        <a href="/admin/organizations/<%= Spree::Organization.first.id%>/edit" aria-expanded="true">
         <i class="fa fa-book"></i>
         Information
       </a>
       <span class="after">
        </span>
     </li>
     <li class="<%= is_active?('/admin/logos') %>">
      <a href="/admin/logos" aria-expanded="true">
       <i class="fa fa-map-marker"></i>
       Logo & Favicon 
     </a>
   </li>
</ul>
</div>
</div>

