
 <div class="portlet box blue col-md-9">
   <div class="portlet-title">
    <div class="caption">
       <%= Spree.t(:new_variant) %>
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @variant } %>
<%= form_for [:admin, @product, @variant] do |f| %>
    <div data-hook="admin_variant_edit_form" class="form-body">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
</div>
</div>
<div class="col-md-3">
<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Variants' } %>
</div>