<style type="text/css">
  th {
text-align: center !important;
}

</style>
<div class="container top-space">
  <h1><%= accurate_title %></h1>
<% if flash[:notice] %>
  <h1> <%=flash[:notice]%> </h1>
<% end %>
  <div data-hook="account_summary" class="account-summary">
    <dl id="user-info">
      <dt><%= Spree.t(:email) %></dt>
      <dd><%= @user.email %> (<%= link_to Spree.t(:edit), spree.edit_account_path %>)</dd>
      <%if @user.purchase_on_account==true%>
      <dt>Account Info</dt>
       <dd>Your current Balance is: <b>$<%=@user.curr_acc_blnc%> as of <%=@user.balnce_date%></b></dd>
       <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#myModal">pay from account</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <%=render :partial=>"/spree/statics/account_user"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
       <%end%>
    </dl>
  </div>

  <div data-hook="account_my_orders" class="account-my-orders">

    <h3><%= Spree.t(:my_orders) %></h3>
    <% if @orders.present? %>
      <table class="order-summary">
        <thead>
          <tr>
            <th class="order-number"><%= I18n.t(:number, :scope => 'activerecord.attributes.spree/order') %></th>
            <th class="order-date"><%= Spree.t(:date) %></th>
            <th class="order-status"><%= Spree.t(:status) %></th>
            <th class="order-payment-state"><%= Spree.t(:payment_state) %></th>
            <th class="order-shipment-state"><%= Spree.t(:shipment_state) %></th>
            <th class="order-total"><%= Spree.t(:total) %></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr class="<%= cycle('even', 'odd') %>">
              <td class="order-number"><%= link_to order.number, order_url(order) %></td>
              <td class="order-date"><%=  order.completed_at.to_date %></td>
              <td class="order-status"><%= Spree.t("order_state.#{order.state}").titleize %></td>
              <td class="order-payment-state"><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
              <td class="order-shipment-state"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
              <td class="order-total"><%= order.display_total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p><%= Spree.t(:you_have_no_orders_yet) %></p>
    <% end %>
    <br />

  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){

});
</script>