<hr>
<div class="page-footer">
<div class="page-footer-inner portlet light col-md-12 ">
<div class="pull-left">
	 <img src="<%= Spree::Logo.last.avatar.url(:logo)%>" class="img-responsive">
	 <img src="/assets/color-logo.png" width="160">
</div>
<div class="pull-right" style="margin-top: 2%;">
	Powered by PSHQ
</div>
</div>
<div class="scroll-to-top" style="display: block;">
		<i class="icon-arrow-up"></i>
	</div>
</div>

<%= javascript_include_tag '/assets/plugins/jquery-migrate.min' %>
<%= javascript_include_tag '/assets/plugins/jquery-ui/jquery-ui.min' %>
<%= javascript_include_tag '/assets/plugins/bootstrap/js/bootstrap.min' %>
<%= javascript_include_tag '/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min' %>
<%= javascript_include_tag '/assets/plugins/jquery-slimscroll/jquery.slimscroll.min' %>
<%= javascript_include_tag '/assets/plugins/jquery.blockui.min' %>
<%= javascript_include_tag '/assets/plugins/jquery.cokie.min' %>
<%= javascript_include_tag '/assets/plugins/uniform/jquery.uniform.min' %>
<%= javascript_include_tag '/assets/plugins/bootstrap-switch/js/bootstrap-switch.min' %>

<%= javascript_include_tag '/assets/plugins/morris/morris.min' %>
<%= javascript_include_tag '/assets/plugins/morris/raphael-min' %>
<%= javascript_include_tag '/assets/plugins/jquery.sparkline.min' %>

<%= javascript_include_tag '/assets/kneetheme/metronic' %>
<%= javascript_include_tag '/assets/kneetheme/layout' %>
<%= javascript_include_tag '/assets/kneetheme/demo' %>
<%= javascript_include_tag '/assets/kneetheme/index3' %>
<%= javascript_include_tag '/assets/kneetheme/tasks' %>
<%= javascript_include_tag '/assets/kneetheme/custom' %>

<%= javascript_include_tag '/assets/plugins/bootstrap-toastr/toastr.min' %>
<%= javascript_include_tag '/assets/plugins/ui-toastr' %>