<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="shortcut icon" type="image/x-icon" href="<%= @selected_template.spree_favicon and @selected_template.spree_favicon.favicon_image ? @selected_template.spree_favicon.favicon_image.url(:thumb) : '/assets/favicon.ico'%>" />
<%= csrf_meta_tags %>

<title>
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <%= "#{Spree.t('administration')}: " %>
    <%= Spree.t(controller.controller_name, :default => controller.controller_name.titleize) %>
  <% end %>
</title>


<%= stylesheet_link_tag 'spree/backend/all' %>
<%= stylesheet_link_tag "admin/admin.css" %>
<%= stylesheet_link_tag "admin/main.css" %>
<%= javascript_include_tag 'spree/backend/all' %>
<script src="/assets/jquery.timepicker.js"></script> 
<link href="/assets/jquery.timepicker.css" rel="stylesheet" type="text/css" />
<%= render "spree/admin/shared/translations" %>

<%= javascript_tag do -%>
  jQuery.alerts.dialogClass = 'spree';
  <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" %>
<% end -%>

<%= yield :head %>
