<!-- <header id="header" data-hook>
  <div class="container">
    <figure data-hook="logo-wrapper" class="columns five">
      <a class="navbar-brand" href="/admin">
        <div class="logo">
         <img src="<%= Spree::Logo.last.avatar.url(:logo)%>" class="img-responsive">
        </div>	
      </a>
    </figure>
    <nav data-hook="admin_login_navigation_bar" class="columns eleven ">
    </nav>
  </div>
</header> -->
<div class="page-header navbar navbar-fixed-top">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <a href="/admin/dashboaard">
      <img src="<%= Spree::Logo.last.avatar.url(:logo)%>" class="logo-default" style="width:100px;">
      </a>
      <div class="menu-toggler sidebar-toggler">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
      </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <div class="page-top">
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
        
          <li class="separator hide">
          </li>
          <li style="margin-top: 27px; margin-right: 358px;"> <%=Spree::Organization.first.company_name rescue ''%> </li>
           <li class="separator hide">
          </li>
          <li style="margin-top: 27px;"> Welcome : <%= spree_current_user.try(:email) %> </li>
          <li class="separator hide">
          </li>
          <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username username-hide-on-mobile">
            <%= spree_current_user.try(:first_name) rescue "Your Name"%> </span>
            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
            <img alt="" class="img-circle" src="/assets/top-menu.png"/>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <a href="#">
                <i class="icon-user"></i> My Profile </a>
              </li>
              <li>
                <a href="/account">
                <i class="icon-calendar"></i> Account </a>
              </li>
              <li>
                <a href="/">
                <i class="icon-rocket"></i> Your Store
                </a>
              </li>
              <li class="divider">
              </li>
              <li>
                <a href="<%= spree_logout_path%>">
                <i class="icon-key"></i> Log Out </a>
              </li>
            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
  </div>
  <!-- END HEADER INNER -->
</div>
<div class="clearfix">
</div>