  <ul class="ver-inline-menu tabbable margin-bottom-10">
    <% if ((can? :update, @order) && (@order.shipments.count == 0 || @order.shipped_shipments.count == 0)) %>
    <li class="<%= is_active?(cart_admin_order_url(@order)) %>" data-hook='admin_order_tabs_order_details'>
      <a href="<%= cart_admin_order_url(@order) %>" aria-expanded="true">
       <i class="fa fa-shopping-cart"></i>
       <%= Spree.t(:cart) %>
     </a>
     <span class="after">
     </span>
   </li>
   <% end %>
   <% if can?(:update, @order) && checkout_steps.include?("address") %>
   <li class="<%= is_active?(admin_order_customer_url(@order)) %>" data-hook='admin_order_tabs_customer_details'>
    <a href="<%= admin_order_customer_url(@order) %>" aria-expanded="true">
     <i class="fa fa-user"></i>
     <%= Spree.t(:customer_details) %>
   </a>
   <span class="after">
   </span>
 </li>
 <% end %>
 <% if can? :update, @order %>
 <li class="<%= is_active?(edit_admin_order_url(@order)) %>" data-hook='admin_order_tabs_order_details'>
  <a href="<%= edit_admin_order_url(@order) %>" aria-expanded="true">
   <i class="fa fa-edit"></i>
   <%= Spree.t(:shipments) %>
 </a>
 <span class="after">
 </span>
</li>
<% end %>
<% if can? :index, Spree::Adjustment %>
<li class="<%= is_active?(admin_order_adjustments_url(@order)) %>" data-hook='admin_order_tabs_adjustments'>
  <a href="<%= admin_order_adjustments_url(@order) %>" aria-expanded="true">
   <i class="fa fa-cogs"></i>
   <%= Spree.t(:adjustments) %>
 </a>
 <span class="after">
 </span>
</li>
<% end %>
<% if can?(:index, Spree::Payment) %>
<li class="<%= is_active?(admin_order_payments_url(@order)) %>" data-hook='admin_order_tabs_payments'>
  <a href="<%= admin_order_payments_url(@order) %>" aria-expanded="true">
   <i class="fa fa-credit-card"></i>
   <%= Spree.t(:payments) %>
 </a>
 <span class="after">
 </span>
</li>
<% end %>
<% if can? :index, Spree::ReturnAuthorization %>
<% if @order.completed? %>
<li class="<%= is_active?(admin_order_return_authorizations_url(@order)) %>" data-hook='admin_order_tabs_return_authorizations'>
  <a href="<%= admin_order_return_authorizations_url(@order) %>" aria-expanded="true">
   <i class="fa fa-share"></i>
   <%= Spree.t(:return_authorizations) %>
 </a>
 <span class="after">
 </span>
</li>
<% end %>
<% end %>
<% if can? :index, Spree::CustomerReturn %>
<% if @order.completed? %>
<li class="<%= is_active?(admin_order_customer_returns_url(@order)) %>">
  <a href="<%= admin_order_customer_returns_url(@order) %>" aria-expanded="true">
   <i class="fa fa-download"></i>
   <%= Spree.t(:customer_returns) %>
 </a>
 <span class="after">
 </span>
</li>
<% end %>
<% end %>
</ul>
