<% content_for :page_title do %>
  <%= Spree.t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= @product.sku %></span>
<% end %>
<ul class="ver-inline-menu tabbable margin-bottom-10">
  <li class="<%= is_active?(edit_admin_product_url(@product)) %>">
    <a href="<%= edit_admin_product_url(@product) %>" aria-expanded="true">
     <i class="fa fa-edit"></i>
     <%= Spree.t(:product_details) %>
   </a>
   <span class="after">
   </span>
 </li>
   <li class="<%= is_active?(admin_product_images_url(@product)) %>">
    <a href="<%= admin_product_images_url(@product) %>" aria-expanded="true">
     <i class="fa fa-picture-o"></i>
     <%= Spree.t(:images) %>
   </a>
   <span class="after">
   </span>
 </li>
   <li class="<%= is_active?(admin_product_variants_url(@product)) %>">
    <a href="<%= admin_product_variants_url(@product) %>" aria-expanded="true">
     <i class="fa fa-th-large"></i>
     <%= Spree.t(:variants) %>
   </a>
   <span class="after">
   </span>
 </li>
 <li class="<%= is_active?(admin_product_product_properties_url(@product)) %>">
    <a href="<%= admin_product_product_properties_url(@product) %>" aria-expanded="true">
     <i class="fa fa-tasks"></i>
     <%= Spree.t(:product_properties) %>
   </a>
   <span class="after">
   </span>
 </li>
 <li class="<%= is_active?(stock_admin_product_url(@product)) %>">
    <a href="<%= stock_admin_product_url(@product) %>" aria-expanded="true">
     <i class="fa fa-tasks"></i>
     <%= Spree.t(:stock_management) %>
   </a>
   <span class="after">
   </span>
 </li>
</ul>
