<% if can? :admin, Spree::Order %>
  <%= tab *Spree::BackendConfiguration::ORDER_TABS, icon: 'shopping-cart' %>
<% end %>

<% if can? :admin, Spree::Product %>
  <%= tab *Spree::BackendConfiguration::PRODUCT_TABS, icon: 'th-large' %>
<% end %>

<% if can? :admin, Spree::Admin::ReportsController %>
  <%= tab *Spree::BackendConfiguration::REPORT_TABS, icon: 'file'  %>
<% end %>

<%= tab *Spree::BackendConfiguration::CONFIGURATION_TABS, label: 'configuration', icon: 'wrench', url: spree.edit_admin_general_settings_path %>

<% if can? :admin, Spree::Promotion %>
  <%= tab *Spree::BackendConfiguration::PROMOTION_TABS, url: spree.admin_promotions_path, icon: 'bullhorn' %>
<% end %>

<%#= tab *Spree::BackendConfiguration::CONFIGURATION_TABS, label: 'Blog', icon: 'wrench', url: spree.admin_blogs_path %>

<%#*<a class="fa fa-wrench icon_link with-tip" href="/admin/blogs"><span class="text"> Blogs</span></a></li>%>

<% if Spree.user_class && can?(:admin, Spree.user_class) %>
  <%= tab *Spree::BackendConfiguration::USER_TABS, url: spree.admin_users_path, icon: 'user' %>
  <%if params[:controller]=="spree/admin/organizations" or params[:controller]=="spree/admin/templates" or params[:controller]=="spree/admin/slider_images" or params[:controller]=="spree/admin/logos"%>
  <li class="tab-with-icon selected">
  <%else%>
  <li class="tab-with-icon">
  <%end%>
   <a class="fa fa-gear icon_link with-tip" href="/admin/organizations/<%= Spree::Organization.first.id%>/edit"><span class="text"> Setting</span></a></li>
  
  <%#= tab *Spree::BackendConfiguration::CONFIGURATION_TABS, label: 'Blog', icon: 'wrench', url: spree.admin_blogs_path %>

  <li> <a class="fa fa-book icon_link with-tip" href="/admin/blogs"><span class="text"> Blog</span></a></li>
  
<% end %>
