<footer id="main-footer" class="site-footer clearfix">
  <div class="container">
    <div class="row"> 
      
      <!--about widget-->
      <div class="col-md-3 col-sm-6">
        <section  class="widget animated ">
         <% if @logo_footer && @logo_footer.check %>
          <h3 class="title"><img src="<%= Spree::Logo.last.avatar.url(:logo)%>"></h3>
          <% end %>
          <div class="textwidget">
             <% if @about_widget && @about_widget.widget_characteristics %>
            <%= @about_widget.widget_characteristics.first(600).html_safe %>
           <% end %>
          </div>
        </section>
      </div>
      
      <!--general services-->
      <div class="col-md-3 col-sm-6">
        <section class="widget animated ">
          <h3 class="title">USEFUL LINK</h3>
           <% if @link_widget && @link_widget.widget_characteristics %>
            <%= @link_widget.widget_characteristics.html_safe %>
            <% end %>
        </section>
      </div>
      <div class="clearfix visible-sm"></div>
      
      <!--recent posts-->
      <div class="col-md-3 col-sm-6  ">
        <section  class="widget animated ">
          <h3 class="title">Location</h3>
          <%=org_address[0].gsub(',', ', ').html_safe || ""%>
        </section>
      </div>
      <!--subscription form-->
      <div class="col-md-3 col-sm-6  ">
        <section  class="widget animated ">
          <h3 class="title">OPENING HOURS</h3>
          <div class="textwidget">
             <% if @org.opening_day.present? %>
            <p><%= @org.opening_day  %> - <%= @org.closing_day %> </p>
            <% else %>
            <p> Monday - Sunday </p>
            <% end %>
            <% if @org.opening_hour.present? %>
            <p><%= @org.opening_hour %> - <%= @org.closing_hour%> </p>
             <% else %>
            <p> 11:00 am - 12:00 pm</p>
            <% end %>
          </div>
          <div> </div>
        </section>
      </div>
    </div>
    <div class="footer-bottom   clearfix">
      <div class="row">
        <div class="col-sm-7">
          <p>&copy; Copyright 2015. All Rights Reserved </p>
        </div>
        <!--footer social icons-->
        <div class="col-sm-5 clearfix">
          <ul class="footer-social-nav">
          <%if @org.twitter_url.present? %>
            <li><a target="_blank" href=<%= @org.twitter_url || '#'%>><i class="fa fa-twitter"></i></a></li>
            <%end%>
            <%if @org.facebook_url.present? %>
            <li><a target="_blank" href=<%= @org.facebook_url || '#'%>><i class="fa fa-facebook"></i></a></li>
            <%end%>
            <%if @org.google_url.present? %>
            <li><a target="_blank" href=<%= @org.google_url || '#'%>><i class="fa fa-google-plus"></i></a></li>
            <%end%>
            <%if @org.youtube.present? %>
             <li><a target="_blank" href=<%= @org.youtube || '#'%>><i class="fa fa-youtube"></i></a></li>
             <%end%>
            <%if @org.linked_in.present? %>
           <li><a target="_blank" href=<%= @org.linked_in || '#'%>><i class="fa fa-linkedin"></i></a></li>
           <%end%>
           <%if @org.pinterest.present? %>
            <li><a target="_blank" href=<%= @org.pinterest || '#'%>><i class="fa fa-pinterest-square"></i></a></li>
            <%end%>
           <!--
            <li><a target="_blank" href="skype:skypeusername?add"><i class="fa fa-skype"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa fa-rss"></i></a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type='text/javascript' src='/assets/<%= @selected_template.template_no%>/jquery-1.11.1.min.js'></script> 
<script type='text/javascript' src='/assets/<%= @selected_template.template_no%>/bootstrap.min.js'></script> 
<script type='text/javascript' src='/assets/<%= @selected_template.template_no%>/jquery.flexslider-min.js'></script> 
<script type='text/javascript' src='/assets/<%= @selected_template.template_no%>/jquery.meanmenu.min.js'></script> 
<script type='text/javascript' src='/assets/<%= @selected_template.template_no%>/jquery-migrate-1.2.1.min.js'></script> 
<script type='text/javascript' src='/assets/<%= @selected_template.template_no%>/custom.js'></script>
  <%= javascript_include_tag 'bootstrap-datepicker' %>