    <!-- RELATED -->
    <div class = "container">
    <h3 class = 'entry-title-bottom'>Related Products</h3>
    <div class="row">
     <!-- item -->
     <%@simlier_product.each do |p|%>
     <%unless p.id == @product.id %>
     <div class="col-sm-6 col-md-3"><!-- item -->
       <% url = product_path(p) %>
      
       <div class="item-box" align="justify">
        <figure>
          <a class="item-hover" href="<%=url%>">
            <span class="overlay color2"></span>
            <span class="inner">
              <span class="block fa fa-plus fsize20"></span>
              <strong>PRODUCT</strong> DETAIL
            </span>
          </a>
          <!-- <img src="/assets/1.jpg" class = "img-responsive"> -->
          <%= link_to product_image(p, :itemprop => "image", :class => "img-responsive ",:style=>"max-width:70%;", rel: 'shadowbox' )%>
          <%= link_to url, :class => "btn btn-primary add_to_cart cart_popup", :remote => true, "data-toggle" => "modal", "data-target" => "#myModal", style: "width: 70%" do %>
          <i class="fa fa-shopping-cart"></i>ADD TO CART
          <% end %>
        </figure>

        <div class="item-box-desc">
          <h4><%=p.name%></h4> <%if p.subscription %> (Subscription Product)
          <%else%> 
          <%= render :partial => "spree/shared/#{@selected_template.template_no}/show_price", :locals => { :p => p, } %>
          <% end %>
        </div>
      </div>
      
    </div>
    <% end -%>
    <%end%>

    <!-- /RELATED -->
  </div>
</div>