
<% content_for :page_actions do %>  
  <% if @order.outstanding_balance? %>
    <li id="new_payment_section">
      <%= link_to new_admin_order_payment_url(@order), class: "btn blue" do %> <i class="fa fa-plus"></i> <%= Spree.t(:new_payment)%> <% end %>
    </li>
  <% end %>  
  <li><%= link_to admin_orders_path, class: "btn blue" do %><i class="fa fa-arrow-left"></i><%= Spree.t(:back_to_orders_list)%> <% end %> </li>
<% end %>

<% content_for :page_title do %>
  <i class="fa fa-arrow-right"></i> <%= Spree.t(:payments) %>
<% end %>

<div class="col-md-9">
<% if @order.outstanding_balance? %>
  <h5 class="outstanding-balance"><%= @order.outstanding_balance < 0 ? Spree.t(:credit_owed) : Spree.t(:balance_due) %>: <strong><%= @order.display_outstanding_balance %></strong></h5>
<% end %>

<% if @payments.any? %>

  <div data-hook="payment_list" class="portlet box blue">
  <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-cogs"></i><%= Spree.t(:payments) %>
      </div>
      <div class="tools">
        <a href="javascript:;" class="collapse" data-original-title="" title="">
        </a>
      </div>
    </div>
    <div class="portlet-body flip-scroll">
    <%= render :partial => 'list', :locals => { :payments => @payments } %>
    </div>
  </div>

  <% if @refunds.any? %>
    <fieldset data-hook="payment_list" class="no-border-bottom">
      <legend align="center"><%= Spree.t(:refunds) %></legend>
      <%= render :partial => 'spree/admin/shared/refunds', :locals => { :refunds => @refunds, show_actions: true } %>
    </fieldset>
  <% end %>

<% else %>
  <div class="alpha twelve columns no-objects-found"><%= Spree.t(:order_has_no_payments) %></div>
<% end %>
</div>
<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Payments' } %>
