<div class="col-md-12">

<div class="col-md-3">
<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
  <div id="password-credentials">
      <%= f.label :email, Spree.t(:email) %><br />
      <%= f.email_field :email, :class => 'title input-width', :tabindex => 1, autofocus: true %><br />
      <%= f.label :password, Spree.t(:password) %><br />
      <%= f.password_field :password, :class => 'title input-width', :tabindex => 2 %>
  </div>
    <%= f.check_box :remember_me, :tabindex => 3 ,:class => "checkbox-bottom"%>
      <span class="rememerme">Remember me</span>

    <p><%= f.submit Spree.t(:login), :class => 'button gray size-login-button', :tabindex => 4 %></p>
  <% end %>

 
  </div>
  <div class="col-md-5"></div>
<div class="col-md-4"></div>
  </div> 
  <script type="text/javascript">
    $(".error-messages").show().delay(1000).fadeOut();
  </script>
 