 <% if params[:keywords] %>
	<%= form_tag spree.products_path, :method => :get do %>
		<h4>Filters</h4>
		<%#= hidden_field_tag :BM, false %>
		<%if params[:keywords] and (params[:AZ] or params[:ZA] or params[:LH] or params[:HL])%>
		<%= check_box_tag :BM, checked = true %> Best match</br>
		<%else%>
		<%= check_box_tag :BM, checked = true, {:checked => "checked"}  %> Best match</br>
		<%end%>
		<%#= hidden_field_tag :AZ, false %>
		<%= check_box_tag :AZ, true, params[:AZ] %> A-Z sorting</br>
		<%= check_box_tag :ZA, true, params[:ZA]%>Z-A sorting</br>
		<%= check_box_tag :LH, true, params[:LH] %> Low to high</br>
		<%#= hidden_field_tag :HL, false %>
		<%= check_box_tag :HL, true, params[:HL] %> High to low</br>
		<%= hidden_field_tag :keywords, params[:keywords] %>
		<hr class="half-margins">

		<%= submit_tag Spree.t(:search), :name => nil,:class => "search-button" %>
	<%end%>
<%end%>
<script type="text/javascript">
$(document).ready(function(){
	$(function() { 
  		$('input[type="checkbox"]').bind('click',function() 
  		{
  			$('input[type="checkbox"]').not(this).prop("checked", false);
  		});
	});

});
</script>