
	<%= form_tag spree.products_path, :method => :get do %>
		<h4>Sort Products</h4>
<span class="filter-fix">
		<%#= hidden_field_tag :BM, false %>

		<%if params[:keywords] and (params[:AZ] or params[:ZA] or params[:LH] or params[:HL])%>
		
		<%= check_box_tag :BM, checked = true %> <span class="search-sorting">Best match</span>
		<DIV class="clear5"></DIV>
		<%else%>
		<%= check_box_tag :BM, checked = true, {:checked => "checked"} %> <span class="search-sorting">Best match</span>
		<DIV class="clear5"></DIV>
		<%end%>
		<%#= hidden_field_tag :AZ, false %>
		<%= check_box_tag :AZ, true, params[:AZ] %> <span class="search-sorting">A-Z sorting</span>
		<DIV class="clear5"></DIV>
		<%= check_box_tag :ZA, true, params[:ZA]%> <span class="search-sorting">Z-A sorting</span>
		<DIV class="clear5"></DIV>
		<%= check_box_tag :LH, true, params[:LH] %> <span class="search-sorting">Low to high</span>
		<DIV class="clear5"></DIV>
		<%#= hidden_field_tag :HL, false %>
		<%= check_box_tag :HL, true, params[:HL] %> <span class="search-sorting">High to low</span>
		<DIV class="clear5"></DIV>

</span>


		<%= hidden_field_tag :keywords, params[:keywords] %>
		<hr class="half-margins">

		<button class="btn btn-primary">&nbsp;Sort Result</button>
	<%end%>

<%= javascript_include_tag "/assets/shared/search_filters.js" %>