<nav id="sub-menu" data-hook="">
    <div class="container">
      <div class="sixteen columns">
        <ul id="sub_nav" data-hook="admin_product_sub_tabs" class="inline-menu">
          <% if params[:controller]=="spree/admin/organizations"and params[:action]=="edit" or params[:controller]=="spree/admin/logos"%>
          <li class="selected"><a href="/admin/organizations/<%=Spree::Organization.first.id%>/edit">Organization Info</a></li>
          <%else%>
          <li ><a href="/admin/organizations/<%=Spree::Organization.first.id%>/edit">Organization Info</a></li>
          <%end%>
          <% if params[:controller]=="spree/admin/templates"and (params[:action]=="edit" or params[:action]=="index") or params[:controller]=="spree/admin/slider_images"%>
          <li class="selected"><a href="/admin/templates">Templates</a></li>
          <%else%>
          <li ><a href="/admin/templates">Templates</a></li>
          <%end%>
          <% if params[:controller]=="spree/admin/cms_pages"and (params[:action]=="edit" or params[:action]=="index" or params[:action] == "new")%>
          <li class="selected"><a href="/admin/cms_pages">Cms Pages</a></li>
          <%else%>
          <li class=""><a href="/admin/cms_pages">Cms Pages</a></li>
          <% end %>
          <li class=""><a href=<%= admin_api_users_path %>>Api Users</a></li>
          <li class=""><a href="/">Cart Checkout</a></li>
          <% if params[:controller]=="spree/admin/email_templates"and (params[:action]=="edit" or params[:action]=="index" or params[:action] == "new")%>
          <li class="selected"><a href=<%= admin_email_templates_path %>>Emails Templates</a></li>
          <%else%>
          <li class=""><a href=<%= admin_email_templates_path %>>Emails Templates</a></li>
          <%end%>
          <% if params[:controller]=="spree/admin/promotion_emails"%>
          <li class="selected"><a href=<%= admin_promotion_emails_path %>>Promotions Emails</a></li>
          <%else%>
          <li class=""><a href=<%= admin_promotion_emails_path %>>Promotions Emails</a></li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>
 