<%= stylesheet_link_tag 'bootstrap-datepicker' %>
 <div data-hook="product_price" class="columns five <% if !product.has_variants? %> alpha <% else %> omega <% end %>">

        <div id="product-price">
         <div>
              
            <div class="productRowInfo">
              
              <%if product.subscription_daily%>
              <h6 class="product-section-title">Daily subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "daily", true %><%= number_to_currency(product.subscription_daily, :unit => '$') %></span>
              <%end%>
              <%if product.subscription_weekly%>
                <h6 class="product-section-title">Weekly subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "weekly", product.subscription_daily? ? false : true %><%= number_to_currency(product.subscription_weekly, :unit => '$') %></span>
              <%end%>
              <% if product.subscription_monthly%>
                <h6 class="product-section-title">Monthly subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "monthly", false %><%= number_to_currency(product.subscription_monthly, :unit => '$') %></span>
              <%end%>
              <% if product.subscription_yearly%>
                  <h6 class="product-section-title">yearly subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "yearly", false %><%= number_to_currency(product.subscription_yearly, :unit => '$') %></span>   
              <%end%>
              <h6 class="product-section-title">subscription End Date:</h6>
             



               <span class="daily price styleSecondColor fsize20"><input type=""  name="date" id="datepicker" class=""  onkeypress="return false"></span>
               <span class="weekly price styleSecondColor fsize20"><%= select_tag "date_week", options_for_select({
                "1 week"   =>  1.weeks.from_now,
                "2 week"   => 2.weeks.from_now,   
                "3 week"  => 3.weeks.from_now,  
                "4 week" => 4.weeks.from_now,
                "5 week"   => 5.weeks.from_now,
              }) %></span>
              <span class="monthly price styleSecondColor fsize20"><%= select_tag "date_month", options_for_select({
                "1 Month"  => 1.month.from_now,
                "2 Month"  => 2.months.from_now,   
                "3 Month"  => 3.months.from_now,  
                "4 Month"  => 4.months.from_now,
                "5 Month"  => 5.months.from_now,
              }) %></span>
               <span class="yearly price styleSecondColor fsize20"><%= select_tag "date_year", options_for_select({
                "1 Year"  =>  1.years.from_now,
                "2 Year"  =>  2.years.from_now,
                "3 Year"  =>  3.years.from_now, 
                "4 Year"  =>  4.years.from_now,
                "5 Year"  =>  5.years.from_now,
              }) %></span>



              <span itemprop="priceCurrency" content="<%= product.currency %>"></span>
            </div>

            <% if product.master.can_supply? %>
              <link itemprop="availability" href="http://schema.org/InStock" />
            <% elsif product.variants.empty? %>
              <br />
              <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
            <% end %>
          </div>
          
          
          
          
          

          <div class="add-to-cart">

            <div class="addCartBtn">
              <span class="input-group-btn">
                <%= number_field_tag :quantity, 1, :class => 'title input-style', :min => 1 %>
               <%= button_tag :class => 'btn btn-readmore btn-sub-add', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>
              </span>
            </div><!-- /input-group -->
          </div>
        </div>
      </div>
<%= javascript_include_tag    "common" %>

