<%= stylesheet_link_tag 'bootstrap-datepicker' %>
 <div data-hook="product_price" class="columns five <% if !product.has_variants? %> alpha <% else %> omega <% end %>">

        <div id="product-price">
         <div>
              
            <div class="productRowInfo">
              
              <%if product.subscription_daily%>
              <h6 class="product-section-title">Daily subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "daily", true %><%= number_to_currency(product.subscription_daily, :unit => '$') %></span>
              <%end%>
              <%if product.subscription_weekly%>
                <h6 class="product-section-title">Weekly subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "weekly", false %><%= number_to_currency(product.subscription_weekly, :unit => '$') %></span>
              <%end%>
              <% if product.subscription_monthly%>
                <h6 class="product-section-title">Monthly subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "monthly", false %><%= number_to_currency(product.subscription_monthly, :unit => '$') %></span>
              <%end%>
              <% if product.subscription_yearly%>
                  <h6 class="product-section-title">yearly subscription Price:</h6>
              <span class="price styleSecondColor fsize20"><%= radio_button_tag :subscription, "yearly", false %><%= number_to_currency(product.subscription_yearly, :unit => '$') %></span>   
              <%end%>
              <h6 class="product-section-title">subscription End Date:</h6>
             



               <span class="daily price styleSecondColor fsize20"><input type="" required="required" name="date" id="datepicker" class=""  onkeypress="return false"></span>
               <span class="weekly price styleSecondColor fsize20"><%= select_tag "date", options_for_select({
      "1 week"   =>  1.weeks.from_now,
      "2 week"   => 2.weeks.from_now,   # =    604_800 sec.
      "3 week"  => 3.weeks.from_now,  # =  2_592_000 sec.
      "4 week" => 4.weeks.from_now, # = 15_552_000 sec.
      "5 week"   => 5.weeks.from_now,   # = 31_557_600 sec.
    }) %></span>
               <span class="yearly price styleSecondColor fsize20"><%= select_tag "date", options_for_select({
      "1 Year"   =>  1.years.from_now,
      "2 Year"   => 2.years.from_now,   # =    604_800 sec.
      "3 Year"  => 3.years.from_now,  # =  2_592_000 sec.
      "4 Year" => 4.years.from_now, # = 15_552_000 sec.
      "5 Year"   => 5.years.from_now,   # = 31_557_600 sec.
    }) %></span>



              <span itemprop="priceCurrency" content="<%= product.currency %>"></span>
            </div>

            <% if product.master.can_supply? %>
              <link itemprop="availability" href="http://schema.org/InStock" />
            <% elsif product.variants.empty? %>
              <br />
              <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
            <% end %>
          </div>
          
          
          
          
          

          <div class="add-to-cart">

            <div class="addCartBtn">
              <span class="input-group-btn">
                <%= number_field_tag :quantity, 1, :class => 'title input-style', :min => 1 %>
               <%= button_tag :class => 'btn btn-readmore btn-sub-add', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>
              </span>
            </div><!-- /input-group -->
          </div>
        </div>
      </div>
<%= javascript_include_tag    "common" %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.yearly').hide();
    $('.weekly').hide();
   var selected_radio_buton= $("input[type='radio'][name='subscription']:checked").val()
  console.log(selected_radio_buton)
  if (selected_radio_buton == "daily") {
  $('.daily').show;
  };
  });
  $("input[type='radio'][name='subscription']").click(function(e) { // Select the radio input group
    checked_val=$(this).val()
    if (checked_val=="weekly"){
      $('.daily').hide();
      $('.yearly').hide();
      $('.weekly').show();
       }
       else if(checked_val=="daily"){
          $('.weekly').hide()
          $('.yearly').hide();
          $('.daily').show();
       }
       else if(checked_val=="yearly"){
          $('.weekly').hide();
          $('.daily').hide();
          $('.yearly').show();
       } 
    console.log( $(this).val() );
   

    // but this will return the first radio button's value,
    // regardless of checked state of the radio group.
    //console.log( $('input[name="myRadio"]').val() ); 


  });
</script>
