<div class="col-md-12">
  <div class="portlet box blue">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-cogs"></i>Countries
      </div>
      <div class="tools">
        <a href="javascript:;" class="collapse" data-original-title="" title="">
        </a>
      </div>
    </div>
    <div class="portlet-body flip-scroll">
        <div id="new_state" data-hook></div>
      <table class="table table-bordered table-striped table-condensed flip-content" id='listing_states' data-hook>
        <thead class="flip-content">
         <tr data-hook="states_header">
          <th><%= Spree.t(:name) %></th>
          <th><%= Spree.t(:abbreviation) %></th>
          <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
          <% @states.each do |state| %>
          <tr id="<%= spree_dom_id state %>" data-hook="states_row" class="<%= cycle('odd', 'even')%>">
            <td><%= state.name %></td>
            <td class="align-center"><%= state.abbr %></td>
            <td class="actions">
              <%= link_to_with_icon 'edit', Spree.t(:edit), edit_admin_country_state_url(@country, state), :no_text => true %>
              <%= link_to_delete state, :no_text => true %>
            </td>
          </tr>
          <% end %>
          <% if @states.empty? %>
          <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
