 <div class="portlet box blue">
   <div class="portlet-title">
    <div class="caption">
       <%= Spree.t(:new_prototype) %>
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @prototype } %>

<%= form_for [:admin, @prototype] do |f| %>
<div data-hook="new_prototype" class="form-body">
  <%= render :partial => 'form', :locals => { :f => f } %>
  </div>
  <div class="clear"></div>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>
</div>
</div>
