<%#=render :partial=>'cms_pages_sub_nav'%>
<div class="row">
<div class="col-md-9">
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-cogs"></i>All Change History
    </div>
    <div class="tools">
      <a href="javascript:;" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
    <div class="portlet-body flip-scroll">
    <table class="table table-bordered table-striped table-condensed flip-content">
      <thead class="flip-content">
        <tr data-hook="admin_products_index_headers">
          <th class="align-center">Created at</th>
          <th class="align-center">Name</th>
          <th class="align-center">where</th>
          <th class="align-center">who made</th>
        </tr>
      </thead>
      <tbody>
        <% @versions.each do |v| %>
        <tr id="" data-hook="admin_products_index_rows" class="odd">
          <td class="align-center"><%=v.created_at.to_date %></td>
         <td class="align-center">
             <table>
        <%v.changeset.each do |k,v|%>
        <tr><td><%=k.gsub(/[^0-9A-Za-z]/, ' ')%></td><td><%=version_change_from(v)%></td></tr>
        <%end%>
        </table>
         </td>
        <td class="align-center">
          <%= v.item_type.split('::')[1] %>
        </td>
      <td class="align-center"><%= v.whodunnit rescue ''%><td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
<div class="col-md-3">
<%=render :partial=>'side_bar'%>
</div>
</div>